
@admin.main("アンケートフォームサービス 管理画面")("/admin/administrators") {

    @helper.form(action = routes.Admin.administratorChangePassSubmit, 'class -> "form-horizontal") {

        <div class="well">
            <h3>管理者管理</h3>
            <p>パスワードを変更します。</p>
        </div>
        <div>
            <p>パスワードは正常に変更されました。</p>
        </div>
        <div class="actions">
            <a href="@routes.Admin.administrators" class="btn">戻る</a>
        </div>
    }
}
