@(adminChangePassForm: Form[models.Administrator])(implicit session: play.api.mvc.Session)

@import helper._

@admin.main("アンケートフォームサービス 管理画面")("/admin/administrators") {

    @helper.form(action = routes.Admin.administratorChangePassSubmit, 'class -> "form-horizontal") {

        <div class="well">
            <h3>管理者管理</h3>
            <p>パスワードを変更します。</p>
        </div>
      <fieldset>
        <legend>必要事項を入力して下さい。</legend>
            @inputText( adminChangePassForm("userid"), '_label -> "userid", 'readonly -> "readonly" )
            @inputPassword(adminChangePassForm("oldpass"), '_label -> "現在のパスワード")
            @inputPassword(adminChangePassForm("pass.main"), '_label -> "新しいパスワード")
            @inputPassword(adminChangePassForm("pass.confirm"), '_label -> "新しいパスワード（確認）", '_error -> adminChangePassForm.error("pass"))
        </fieldset>

        <div class="actions">
            <a href="@routes.Admin.administrators" class="btn">戻る</a>
            <input type="submit" class="btn btn-primary" value="変更">
        </div>
    }
}
