@(adminList: List[models.Administrator], addAdministratorForm: Form[models.Administrator], currentAdmin: models.Administrator)

@import helper._

@admin.main("アンケートフォームサービス 管理画面")("/admin/administrators") {
<script>
    $(function() {
        $('button[name="remove"]').click( function() {
            // valにはuseridをセット
            var btn = $(this);
            var val = btn.val();

            if (window.confirm("削除しますか？")) {
                $.get("/admin/administratorRemove",
                    { id: val },
                    function(data) {
                        // リロード
                        window.location = data;
                    }
                );
            }
        });
    });
</script>

<div class="well">
<h3>管理者管理</h3>
</div>

<div class="well well-small">
<a class="accordion-toggle btn btn-info" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">管理者を追加する</a>
<div id="collapseOne" class="accordion-body collapse">
    @helper.form(action = routes.Admin.administratorAdd, 'class -> "form-horizontal") {
    <fieldset>
        <legend>管理者の追加</legend>
        @inputText(addAdministratorForm("userid"), '_label -> "userid", '_help -> "ユーザIDです。")
        @inputPassword(addAdministratorForm("pass.main"), '_label -> "パスワード", '_help -> "パスワードを入力してください。")
        @inputPassword(addAdministratorForm("pass.confirm"), '_label -> "パスワード（確認）", '_error -> addAdministratorForm.error("pass"))
    </fieldset>

    <div class="actions">
        <input type="submit" class="btn btn-primary" value="追加">
    </div>
    }
</div>
</div>

<table id="administrators_list" class="table table-bordered table-striped table-condensed">
    <tr class="table_header">
        <th class="c_administrator_id">番号</th>
        <th class="c_administrator_userid">userid</th>
        <th class="c_other"></th>
    </tr>
    @for(administrator <- adminList){
        <tr class="table_row">
            <td class="administrator_id">
                @administrator.id
            </td>
            <td class="administrator_userid">
                @administrator.userId
            </td>
            <td class="other">
                @if(administrator.id != currentAdmin.id){
                    <button class="btn btn-block btn-danger" type="button" name="remove" value="@administrator.id">管理者の削除</button>
                }
                <button class="btn btn-block btn-inverse" type="button" name="changePass" onclick="location.href='@routes.Admin.administratorChangePass(administrator.id)'">パスワード変更</button>
            </td>
        </tr>
    }
</table>


}