@(searchContext: services.Admin.SearchContractContext, contractList: List[(models.contract.SearchedContracts, String)])

@import helper._

@admin.main("アンケートフォームサービス 管理画面")("/admin/contract") {
<script>
    $(function() {
        $('button[name="changeStatus"]').click( function() {
            // valには契約者IDをセット
            var btn = $(this);
            var val = btn.val();

            if (btn.attr("class").indexOf( "registered" ) >= 0) {
                if (window.confirm("停止しますか？")) {
                    $.get("/admin/contractStop",
                        { contractId: val },
                        function(data) {
                            btn.text("契約状態にする");
                            btn.attr("class","btn btn-block btn-danger stop");
                        }
                    );
                }
            } else if (btn.attr("class").indexOf( "stop" ) >= 0) {
                if (window.confirm("契約状態にしますか？")) {
                    $.get("/admin/contractRegister",
                        { contractId: val },
                        function(data) {
                            btn.text("契約者の停止");
                            btn.attr("class", "btn btn-block btn-danger registered");
                        }
                    );
                }
            }
        });
        $('button[name="resetPassword"]').click( function() {
            // valには契約者IDをセット
            var btn = $(this);
            var val = btn.val();
            if (window.confirm("パスワードをリセットしていいの？")) {
                $.get("/admin/contractResetPassword",
                    { contractId: val },
                    function(data) {
                        // メールを送信したのでメッセージを表示する
                        window.alert("パスワード変更のメールを送信しました。");
                    }
                );
            }
        });
    });
</script>

<div class="well">
      <h3>契約者管理</h3>
      <a class="accordion-toggle btn btn-info" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">表示対象を絞り込む</a>
      <div id="collapseOne" class="accordion-body collapse">

        @helper.form(action = routes.Admin.contract, 'class -> "form-horizontal") {
          <fieldset>
          <legend>
            抽出条件
          </legend>
          <div class="control-group">
            <label class="control-label" for="contracts_name">契約者名</label>
            <div class="controls">
              <input type="text" id="contracts_name" name="name" value="@searchContext.name" placeholder="契約者名を入力">
              <span class="help-inline">契約者名を入力（部分一致）</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="contracts_email">契約者メールアドレス</label>
            <div class="controls">
              <input type="text" id="contracts_email" name="mail" value="@searchContext.mail" placeholder="契約者メールアドレスを入力">
              <span class="help-inline">契約者のメールアドレスを入力</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="contracts_count_from">契約数</label>
            <div class="controls">
              <input type="text" id="contracts_count_from" name="count_from" value="@searchContext.count_from" class="input-mini"> ～
              <input type="text" id="contracts_count_to" name="count_to" value="@searchContext.count_to" class="input-mini">
              <span class="help-inline">契約の申込数を入力</span>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">検索</button>
          </fieldset>
          <input type="hidden" name="sort_column" value="@searchContext.sort_column">
          <input type="hidden" name="sort_desc" value="@searchContext.sort_desc">
        }
      </div>
    </div>

    <table id="contracts_list" class="table table-bordered table-striped table-condensed">
        <tr class="table_header">
            <th class="c_contract_id"><a href="">契約者ID▲</a></th>
            <th class="c_contract_name"><a href="">契約者名</a></th>
            <th class="c_contract_mail"><a href="">契約者アドレス</a></th>
            <th class="c_contract_count"><a href="">契約数</a></th>
            <th class="c_regist_date"><a href="">登録日</a></th>
            <th class="c_other"></th>
        </tr>
        @for(cont <- contractList){
            <tr class="table_row">
                <td class="contract_id">
                    @cont._1.contractId.get
                </td>
                <td class="contract_name">
                    @cont._1.name
                </td>
                <td class="contract_address">
                <a href="mailto:@cont._1.mail">@cont._1.mail</a>
                </td>
                <td class="contract_count">
                    @cont._1.formNum
                </td>
                <td class="regist_date">
                    @cont._2
                </td>
                <td class="other">
                    @if(cont._1.status == "2"){
                        <button class="btn btn-block btn-danger registered" type="button" name="changeStatus" value="@cont._1.contractId.get">契約者の停止</button>
                    }
                    @if(cont._1.status == "3"){
                        <button class="btn btn-block btn-danger stop" type="button" name="changeStatus" value="@cont._1.contractId.get">契約状態にする</button>
                    }
                    <button class="btn btn-block btn-inverse" type="button" name="resetPassword" value="@cont._1.contractId.get">パスワードリセット</button>
                </td>
            </tr>
        }
    </table>


}