@(isSearchResult: Boolean, searchForm: Form[services.Admin.SearchEncContext], searchEncRowList: List[services.Admin.SearchEncRow], chargeOptionList: List[models.charge.ChargeOptionPlans], plans: List[models.charge.ChargePlans], selectedPlans: List[String])

@import helper._

@admin.main("アンケートフォームサービス 管理画面")("/admin/enc") {
<script>
$(function() {
    $('button[name="e_payment"]').click( function() {
      var btn = $(this);
      var formid = btn.val();

      if (btn.attr("class").indexOf( "disabled" ) == -1) {
        if (window.confirm("入金済みに変更しますか？")) {
          $.get("/admin/paymentUpdate",
            { formId: formid },
            function(data) {
                // 表示を変更
                $('#check_date_' + formid).text(data);
                btn.text("入金確認済み");
                btn.attr("class","btn btn-primary btn-small disabled");
            }
          );
        }
      }
    });
    $('button[name="stopbtn"]').click( function() {
        var btn = $(this);
        var formid = btn.val();

        if (window.confirm("停止しますか？")) {
            $.get("/admin/encStop",
                { formId: formid },
                function(data) {
                    // 表示を変更
                    if (data == "ok") $('#status_' + formid).text("終了");
                    else window.alert("更新に失敗しました。");
                }
            );
        }
    });
    $('button[name="update_payment_confirm"]').click( function() {
        var btn = $(this);
        var formid = btn.val();
        var price_str = $('#payment_' + formid).val();

        btn.text("更新中");

        // valにはフォームIDをセット
        $.get("/admin/encUpdatePaymentPrice",
            { formId: formid, price: price_str },
            function(data) {
                // 表示を変更
                btn.text("更新");
                // 更新に失敗していたらエラー表示
                if (data != "ok"){
                    window.alert("更新に失敗しました。");
                }
            }
        );
    });
    $('button[name="del_enc"]').click( function() {
        var btn = $(this);
        var formid = btn.val();

        if (window.confirm("削除しますか？")) {
            $.get("/admin/encDelete",
                { formId: formid },
                function(data) {
                    if (data == "ok"){
                        // リロード
                        location.href = location.href;
                    } else {
                        window.alert("更新に失敗しました。");
                    }
                }
            );
        }
    });
    $('button[name="disp_option"]').click( function() {
        var btn = $(this);
        var formid = btn.val();
        // このフォームのオプションの設定を取得する
        $.get("/admin/encGetPaymentOption",
            { formId: formid },
            function(data) {
                // まずすべてのチェックを外す
                @for(chargeOption <- chargeOptionList){
                    $('#charge_option_check_@{chargeOption.id}').attr("checked", false);
                }
                // 取得したデータはオプション料金IDのカンマ区切りの羅列なのでパースする
                var id_array = data.split(",");
                // チェックを入れる
                for (var i = 0; i < id_array.length; i++){
                    $('#charge_option_check_' + id_array[i]).attr("checked", true);
                }
                // 選択されたフォームのIDを記録しておく
                $('#charge_option_formid').attr("value", formid);
                // オプションメニューを表示する
                $('#price_modal').modal('show');
            }
        );
    });
    $('button[name="option_submit"]').click( function() {
        var btn = $(this);
        var formid = $('#charge_option_formid').val();
        // チェック状態を取得する
        var checks = "";
        $("[name='charge_option[]']:checked").each(function(){
            if (checks != "") checks += ",";
            checks += this.value;
        });
        // 送信
        $.get("/admin/encSetPaymentOption",
            { formId: formid, chargeOptionId: checks },
            function(data) {
                if (data == "ok"){
                    // オプションメニューを閉じる
                    $('#price_modal').modal('hide');
                } else {
                    window.alert("更新に失敗しました。");
                }
            }
        );
    });
});
</script>
    <div class="well">
      <h3>アンケート管理</h3>
      <button class="accordion-toggle btn btn-info" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">表示対象を絞り込む</button>
      <div id="collapseOne" class="accordion-body @if(!isSearchResult){ collapse }">

        @helper.form(action = routes.Admin.encSearch, 'class -> "form-horizontal") {

          <fieldset>
          <legend>
            抽出条件
          </legend>
          <div class="control-group">
            <label class="control-label" for="e_contracts_name">契約者名</label>
            <div class="controls">
              <input type="text" id="e_contracts_name" name="contract_name" placeholder="契約者名を入力" value="@searchForm.apply("contract_name").value">
              <span class="help-inline">契約者名を入力（部分一致）</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="start_from">掲載期間開始日</label>
            <div class="controls">
              <input type="text" id="start_from" name="start_st_from" placeholder="yyyy/mm/dd" class="input-small" value="@searchForm.apply("start_st_from").value"> ～
              <input type="text" id="start_to" name="start_st_to" placeholder="yyyy/mm/dd" class="input-small" value="@searchForm.apply("start_st_to").value">
              <span class="help-inline">掲載期間の開始日を入力</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="start_from">掲載期間終了日</label>
            <div class="controls">
              <input type="text" id="stop_from" name="end_st_from" placeholder="yyyy/mm/dd" class="input-small" value="@searchForm.apply("end_st_from").value"> ～
              <input type="text" id="stop_to" name="end_st_to" placeholder="yyyy/mm/dd" class="input-small" value="@searchForm.apply("end_st_to").value">
              <span class="help-inline">掲載期間の開始日を入力</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inlineCheckboxes">料金プラン</label>
            <div class="controls">
						@for(plan <- plans){
							<label class="checkbox inline">
								<input type="checkbox" id="inlineCheckbox@plan.id" name="plans[]" @if(selectedPlans.contains(plan.id.toString)){ checked } value="@plan.id" > @plan.name
							</label>
						}
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <label class="checkbox inline">
                <input type="checkbox" name="payment_confirm_is_null" @if(searchForm.get.payment_confirm_is_null){ checked } value="true"> 未入金ユーザーで絞り込む
              </label>
              <label class="checkbox inline">
                <input type="checkbox" name="payment_confirm_is_not_null" @if(searchForm.get.payment_confirm_is_not_null){ checked } value="true"> 入金済みユーザーで絞り込む
              </label>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <label class="checkbox inline">
                <input type="checkbox" name="is_displaying" @if(searchForm.get.is_displaying){ checked } value="true"> 掲載中のユーザーで絞り込む
              </label>
              <label class="checkbox inline">
                <input type="checkbox" name="is_not_displaying" @if(searchForm.get.is_not_displaying){ checked } value="true"> 掲載停止中のユーザーで絞り込む
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">検索</button>
          </fieldset>
        }
      </div>
    </div>

    <table id="contracts_list" class="table table-bordered table-striped table-condensed">
        <tr class="table_header">
            <th class="e_form_id">フォームID▲</th>
            <th class="e_contract_name"><a href="">契約者名</a></th>
            <th class="e_term"><a href="">掲載期間</a></th>
            <th class="e_plan"><a href="">料金プラン</a></th>
            <th class="e_status"><a href="">ステータス</a></th>
            <th class="e_price"><a href="">料金</a></th>
            <th class="e_confirm_price"><a href="">入金確認額</a></th>
            <th class="e_payment"><a href="">入金有無</a></th>
            <th class="e_payment_check"><a href="">入金確認日</a></th>
            <th class="e_other"></th>
        </tr>

        @for(searchEncRow <- searchEncRowList){

        <tr class="table_row">
            <td class="e_form_id">
            @searchEncRow.form_id
            </td>
            <td class="e_contract_name">
            @searchEncRow.contract_name
            </td>
            <td class="e_term">
                @searchEncRow.start_st ～ @searchEncRow.end_st
            </td>
            <td class="e_plan">
                <div>
                    <span class="badge badge-important">@searchEncRow.plan_name</span>
                </div>

                <button class="btn btn-mini btn-success plan_option" type="button" name="disp_option" value="@searchEncRow.form_id">オプション表示</button>
            </td>
            <td class="e_status">
                <div>
                    <span class="label label-info" id="status_@searchEncRow.form_id">@searchEncRow.status</span>
                </div>
                <button class="btn btn-mini btn-warning status_chg_lbl" type="button" name="stopbtn" value="@searchEncRow.form_id">強制停止</button>
            </td>
            <td class="e_price">
                <span>@searchEncRow.price 円</span>
            </td>
            <td class="e_confirm_price">
                <div>
                    <span><input type="text" id="payment_@searchEncRow.form_id" class="input-mini" value="@searchEncRow.payment_confirm" /> 円</span>
                </div>
                <button class="btn btn-mini btn-success" type="button" name="update_payment_confirm" value="@searchEncRow.form_id">更新</button>
            </td>
            <td class="e_payment">
                @if(searchEncRow.payment_confirm_date != ""){
                    <button name="e_payment" value="@searchEncRow.form_id" class="btn btn-primary btn-small disabled">入金確認済み</button>
                }else{
                    <button name="e_payment" value="@searchEncRow.form_id" class="btn btn-primary btn-small">入金確認済みに変更</button>
                }
            </td>
            <td class="e_payment_check">
              <div id="check_date_@searchEncRow.form_id">@searchEncRow.payment_confirm_date</div>
            </td>
            <td class="e_other">
                <button class="btn btn-block btn-small btn-danger" type="button" name="del_enc" value="@searchEncRow.form_id">アンケートの削除</button>
            </td>
        </tr>
        }

    </table>

    <div class="modal hide fade" id="price_modal">
        <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>オプション設定</h3>
        </div>
        <div class="modal-body">

        @for(chargeOption <- chargeOptionList){
            <label for="charge_option_check_@chargeOption.id" class="checkbox">
                <input type="checkbox" id="charge_option_check_@chargeOption.id" name="charge_option[]" value="@chargeOption.id" />
                @chargeOption.description
            </label>
        }
        <input type="hidden" name="formid" id="charge_option_formid" />
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" name="option_submit">設定</button>
            <!-- <a href="#" class="btn btn-primary" data-dismiss="modal">設定</a> -->
        </div>
    </div>

}
