@(searchContext: models.SearchInformationContext, information: List[models.Information])

@import helper._

@admin.main("アンケートフォームサービス 管理画面")("/admin/history") {

<link href="@routes.Assets.at("javascripts/jquery-ui-1.8.23.custom/css/overcast/jquery-ui-1.9.1.custom.min.css")" rel="stylesheet">
<script src="@routes.Assets.at("javascripts/jquery-ui-1.8.23.custom/js/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery-ui-1.8.23.custom/js/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery-ui-1.8.23.custom/js/jquery.ui.datepicker-ja.js")" type="text/javascript"></script>

<script>
  $(function() {
    $( "#date_from, #date_to").datepicker({
      dateFormat: "yy/mm/dd"
    });
    $('button[name="search"]').click( function() {
      if ($('#date_from').val() == "" && $('#date_to').val() == "") {
        return true;
      }
      //入力された日付の妥当性のチェック
      for (i = 0; i <= 1; i++) {
        var s = "";
        switch (i) {
          case 0:
            s = $('#date_from').val();
            break
          case 1:
            s = $('#date_to').val();
            break
        }
        if (s != "") {
          // 正規表現による書式チェック
          if (!s.match(/^\d{4}\/\d{2}\/\d{2}$/)){
            window.alert("送信日付の入力に誤りが有ります。");
            return false;
          }
          var vYear = s.substr(0, 4) - 0;
          var vMonth = s.substr(5, 2) - 1; // Javascriptは、0-11で表現
          var vDay = s.substr(8, 2) - 0;
          // 月,日の妥当性チェック
          if(vMonth >= 0 && vMonth <= 11 && vDay >= 1 && vDay <= 31){
            var vDt = new Date(vYear, vMonth, vDay);
            if(isNaN(vDt)){
              window.alert("送信日付の入力に誤りが有ります。");
              return false;
            }else if(vDt.getFullYear() == vYear && vDt.getMonth() == vMonth && vDt.getDate() == vDay){
              // ここには何も記述がない。
              // チェック結果は正常である。
            }else{
              window.alert("送信日付の入力に誤りが有ります。");
              return false;
            }

          }else{
            window.alert("送信日付の入力に誤りが有ります。");
            return false;
          }
        }
      }
      if ($('#date_from').val() != "" && $('#date_to').val() != "") {
        if ($('#date_from').val() <= $('#date_to').val()) {
          return true;
        } else {
          window.alert("送信日付の大小関係に誤りが有ります。");
          return false;
        }
      }
      return true;
    });
    $('button[name="information_delete"]').click( function() {
      if (window.confirm("削除しますか？")) {
        var faction = $('form').attr('action');
        $('form').attr('action', "");
        var btn = $(this);
        var infId = this.id.substr(4, this.id.length - 4);
        $.get("/admin/noticeDelete",
          {
            infId: infId
          },
          function(data) {
            $('#tblrow' + infId).remove();
          }
        );
        $('form').attr('action', faction);
      } else {
        return false;
      }
    });
  });
</script>

<div class="well">
    <h3>管理者からの連絡 履歴一覧</h3>
    <a class="btn btn-info" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">表示対象を絞り込む</a>
    <div id="collapseOne" class="accordion-body collapse">
        <form action="/admin/notice/history">
            <fieldset>
                <legend>
                    抽出条件
                </legend>
                <div class="control-group">
                    <label class="control-label" for="date_from">送信日付</label>
                    <div class="controls">
                        <input type="text" id="date_from" name="date_from" value="@searchContext.date_from" placeholder="yyyy/mm/dd" class="input-small">
                        ～
                        <input type="text" id="date_to" name="date_to" value="@searchContext.date_to" placeholder="yyyy/mm/dd" class="input-small">
                        <span class="help-inline">送信日付を入力</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="subject_cond">件名</label>
                    <div class="controls">
                        <input type="text" id="subject_cond" name="subject" value="@searchContext.subject" placeholder="件名を入力">
                        <span class="help-inline">件名の絞り込み文字列を入力（部分一致）</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="content_cond">本文</label>
                    <div class="controls">
                        <input type="text" id="content_cond" name="content" value="@searchContext.content" placeholder="本文を入力">
                        <span class="help-inline">本文の絞り込み文字列を入力（部分一致）</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" name="search">検索</button>
            </fieldset>
        </form>
    </div>
</div>
<form  action="/admin/notice/update">
  <table id="contracts_list" class="table table-bordered table-striped table-condensed">
      <tr class="table_header">
          <th class="n_id">通知ID▲</th>
          <th class="n_date"><a href="">送信日時</a></th>
          <th class="n_subject"><a href="">件名</a></th>
          <th class="n_content"><a href="">本文</a></th>
          <th class="n_update"><a href="">修正</a></th>
          <th class="n_delete"><a href="">削除</a></th>
      </tr>
      @for(infor <- information) {
          <tr id="tblrow@infor.id.toString" class="table_row">
              <td class="n_id" id="id@infor.id.toString">
              @infor.id
              </td>
              <td class="n_date id="send_date@infor.id.toString"">
              @{
                  val dformat = new java.text.SimpleDateFormat("yyyy/MM/dd HH:mm:ss")
                  dformat.format(infor.sendDate)
              }
              </td>
              <td class="n_subject id="subject@infor.id.toString"">
              @infor.subject
              </td>
              <td class="n_content id="content@infor.id.toString"">
              @infor.content
              </td>
              <td class="n_update">
                <button type="submit" id="ubtn@infor.id.toString" name="infId" value="@infor.id.toString" class="btn btn-primary btn-small">修正</button>
              </td>
              <td class="n_delete">
                <button id="dbtn@infor.id.toString" name="information_delete" class="btn btn-danger btn-small">削除</button>
              </td>
          </tr>
      }
  </table>
</form>

}