@(searchContext: controllers.Admin.SearchInquiryContext, inquiries: List[Inquiry])

@import helper._

@admin.main("アンケートフォームサービス 管理画面")("/admin/inquiry") {

<link href="@routes.Assets.at("javascripts/jquery-ui-1.8.23.custom/css/overcast/jquery-ui-1.9.1.custom.min.css")" rel="stylesheet">
<script src="@routes.Assets.at("javascripts/jquery-ui-1.8.23.custom/js/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery-ui-1.8.23.custom/js/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery-ui-1.8.23.custom/js/jquery.ui.datepicker-ja.js")" type="text/javascript"></script>

<script>
    $(function() {
        $( "#inquiry_date_from, #inquiry_date_to").datepicker({
            dateFormat: "yy/mm/dd"
        });
        $('button[name="search"]').click( function() {
            if ($('#inquiry_date_from').val() == "" && $('#inquiry_date_to').val() == "") {
                return true;
            }
            //入力された日付の妥当性のチェック
            for (i = 0; i <= 1; i++) {
                var s = "";
                switch (i) {
                    case 0:
                        s = $('#inquiry_date_from').val();
                        break
                    case 1:
                        s = $('#inquiry_date_to').val();
                        break
                }
                if (s != "") {
                    // 正規表現による書式チェック
                    if (!s.match(/^\d{4}\/\d{2}\/\d{2}$/)){
                        window.alert("問い合わせ日付の入力に誤りが有ります。");
                        return false;
                    }
                    var vYear = s.substr(0, 4) - 0;
                    var vMonth = s.substr(5, 2) - 1; // Javascriptは、0-11で表現
                    var vDay = s.substr(8, 2) - 0;
                    // 月,日の妥当性チェック
                    if(vMonth >= 0 && vMonth <= 11 && vDay >= 1 && vDay <= 31){
                        var vDt = new Date(vYear, vMonth, vDay);
                        if(isNaN(vDt)){
                            window.alert("問い合わせ日付の入力に誤りが有ります。");
                            return false;
                        }else if(vDt.getFullYear() == vYear && vDt.getMonth() == vMonth && vDt.getDate() == vDay){
                            // ここには何も記述がない。
                            // チェック結果は正常である。
                        }else{
                            window.alert("問い合わせ日付の入力に誤りが有ります。");
                            return false;
                        }

                    }else{
                        window.alert("問い合わせ日付の入力に誤りが有ります。");
                        return false;
                    }
                }
            }
            if ($('#inquiry_date_from').val() != "" && $('#inquiry_date_to').val() != "") {
                if ($('#inquiry_date_from').val() <= $('#inquiry_date_to').val()) {
                    return true;
                } else {
                    window.alert("問い合わせ日付の大小関係に誤りが有ります。");
                    return false;
                }
            }
            return true;
        });
        $('button[name="inquiry_status"]').click( function() {
            var s;
            var v;
            var c;
            var btn = $(this);
            var inqId = this.id.substr(3, this.id.length - 3);
            var inqStatus;
            if (this.value == "0") {
                s = "対応済み";
                v = "1";
                c = "btn btn-primary btn-small";
                inqStatus = @models.Inquiry.InquiryStatus.SUPPORTED.toString();
            } else {
                s = "未対応";
                v = "0";
                c = "btn btn-warning btn-small";
                inqStatus = @models.Inquiry.InquiryStatus.UNSUPPORTED.toString();
            }
            if (window.confirm(s + "に変更しますか？")) {
                $.get("/admin/inquiryStatusUpdate",
                        {
                            inqId: inqId, inqStatus: inqStatus
                        },
                        function(data) {
                            btn.val(v);
                            btn.text(s);
                            btn.attr("class",c);
                        }
                );
            }
        });
    });
</script>

<div class="well">
      <h3>管理者への連絡一覧</h3>
      <a class="accordion-toggle btn btn-info" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">表示対象を絞り込む</a>
      <div id="collapseOne" class="accordion-body collapse">
        <form action="/admin/inquiry">
          <fieldset>
          <legend>
            抽出条件
          </legend>
          <div class="control-group">
            <label class="control-label" for="inquiry_date_from">問合わせ日付</label>
            <div class="controls">
              <input type="text" id="inquiry_date_from" name="date_from" value="@searchContext.dateFrom" placeholder="yyyy/mm/dd" class="input-small"> ～
              <input type="text" id="inquiry_date_to" name="date_to" value="@searchContext.dateTo" placeholder="yyyy/mm/dd" class="input-small">
              <span class="help-inline">問合せ日付を入力</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inquiry_name">名前</label>
            <div class="controls">
              <input type="text" id="inquiry_name" name="name" value="@searchContext.name" placeholder="名前を入力">
              <span class="help-inline">問い合わせをした人の名前を入力（部分一致）</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inquiry_email">メールアドレス</label>
            <div class="controls">
              <input type="text" id="inquiry_email" name="mail" value="@searchContext.mail" placeholder="メールアドレスを入力">
              <span class="help-inline">問い合わせメールアドレスを入力（部分一致）</span>
            </div>
          </div>
          <div class="control-group">
              <label class="control-label" for="inlineCheckboxes">会員有無</label>
              <div class="controls">
                  <label class="checkbox inline">
                      <input type="checkbox" name="member" value="true" @{if (searchContext.member) "checked" else ""} > 会員を絞り込む
                      <input type="hidden" name="member" value="false" >
                  </label>
                  <label class="checkbox inline">
                      <input type="checkbox" name="nonmember" value="true" @{if (searchContext.nonmember) "checked" else ""} > 非会員を絞り込む
                      <input type="hidden" name="nonmember" value="false" >
                  </label>
              </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inlineCheckboxes">対応状況</label>
            <div class="controls">
              <label class="checkbox inline">
                <input type="checkbox" name="unsupported" value="true" @{if (searchContext.unsupported) "checked" else ""} > 未対応の問い合わせを絞り込む
                <input type="hidden" name="unsupported" value="false" >
              </label>
              <label class="checkbox inline">
                <input type="checkbox" name="supported" value="true" @{if (searchContext.supported) "checked" else ""} > 対応済みの問い合わせを絞り込む
                <input type="hidden" name="supported" value="false" >
              </label>
            </div>
          </div>
          <button name="search" class="btn btn-primary">検索</button>
          </fieldset>
        </form>
      </div>
    </div>

    <table id="contracts_list" class="table table-bordered table-striped table-condensed">
        <tr class="table_header">
            <th class="i_id"><a href="">問合わせID▲</a></th>
            <th class="i_date"><a href="">問合わせ日付</a></th>
            <th class="i_name"><a href="">名前</a></th>
            <th class="i_mail"><a href="">メールアドレス</a></th>
            <th class="i_content"><a href="">問合わせ内容</a></th>
            <th class="i_ismember"><a href="">会員有無</a></th>
            <th class="i_status"><a href="">対応状況</a></th>
        </tr>
        @for(inquiry <- inquiries) {
            <tr class="table_row">
                <td class="i_id">
                @inquiry.id
                </td>
                <td class="i_date">
                @{val dformat = new java.text.SimpleDateFormat("yyyy/MM/dd HH:mm:ss")
                  dformat.format(inquiry.sendDate)}
                </td>
                <td class="i_name">
                @inquiry.name
                </td>
                <td class="i_mail">
                <a href="mailto:@inquiry.mail">@inquiry.mail</a>
                </td>
                <td class="i_content">
                @inquiry.content
                </td>
                <td class="i_ismember">
                  @if(inquiry.contractId.isEmpty) {
                    <span class="label">非会員</span>
                  } else {
                    <span class="label label-success">会員</span>
                  }
                </td>
                <td class="i_status">
                  @if(inquiry.status == models.Inquiry.InquiryStatus.UNSUPPORTED) {
                    <button id="btn@inquiry.id.toString" name="inquiry_status" value="0" class="btn btn-warning btn-small">未対応</button>
                    } else {
                    <button id="btn@inquiry.id.toString" name="inquiry_status" value="1" class="btn btn-primary btn-small">対応済み</button>
                  }
                </td>
            </tr>
        }
    </table>

}