@(information: models.addInformation)(implicit session: play.api.mvc.Session)
@import java.util.Calendar

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@admin.main("アンケートフォームサービス 管理画面")("/admin/notice/confirm") {
@helper.form(action = routes.Admin.notice_submit, 'class -> "form-horizontal") {
    <div class="well">
      <h3>管理者からの連絡</h3>
    </div>
    <fieldset>
      <legend>入力された内容</legend>
        <div class="control-group" style="display: none;">
            <label class="control-label" for="subject">ID</label>
            <div class="controls">
                <input type="text" id="id" name="id" class="span2" readonly value="@information.id">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="subject">件名</label>
            <div class="controls">
                <input type="text" id="subject" name="subject" class="span6" readonly value="@information.subject">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="content">本文</label>
            <div class="controls">
                <textarea name="content" rows="5" class="span8" readonly>@information.content</textarea>
            </div>
        </div>
    </fieldset>
		<hr />
		<h3>プレビュー</h3>
		<div class="alert">
			<h4>お知らせ<span style="font-size:small; margin-left:10px;"><a class="icon-chevron-down accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"></a></span></h4>
			<div id="collapseOne" class="accordion-body in collapse">
				<dl>
					<dt>
						@{val dformat = new java.text.SimpleDateFormat("yyyy/MM/dd")
							dformat.format(Calendar.getInstance().getTime())} @information.subject
					</dt>
					<dd>@Html(information.content)</dd>
				</dl>
			</div>
		</div>
		<hr />
    <div class="actions">
        <input type="submit" name="back" class="btn btn" value="戻る">
        <input type="submit" name="send" class="btn btn-primary" value="送信">
    </div>
}
}