@(addInformationForm: Form[models.addInformation], alert_success: Boolean)(implicit session: play.api.mvc.Session)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@admin.main("アンケートフォームサービス 管理画面")("/admin/notice") {
    @if(alert_success){
      <div class="alert alert-success" id="alert_success">
      <a class="close" data-dismiss="alert">×</a>
      連絡内容を送信しました。
      </div>
    }
    <div class="well">
      <h3>管理者からの連絡</h3>
			<p>※本文にはHTMLタグの使用が可能ですので、タグの閉じ忘れにご注意ください。</p>
      <a class="btn btn-inverse" href="/admin/notice/history">履歴表示</a>
    </div>
    @helper.form(action = routes.Admin.notice_confirm, 'class -> "form-horizontal") {
    <fieldset>
        <div class="control-group" style="display: none;">
          @inputText(addInformationForm("id"),'_label -> "ID",
          'class -> "span2", '_help -> "")
        </div>
        @inputText(
        addInformationForm("subject"), '_label -> "件名",
        'class -> "span6", '_help -> "件名を入力してください。")
        @textarea(
        addInformationForm("content"), '_label -> "本文",
        'rows -> 5, 'class -> "span8", '_help -> "本文を入力してください。")
    </fieldset>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">確認</button>
      </div>
    </div>
  }

}
