

@admin.main("アンケートフォームサービス 管理画面")("/admin/opt_plan/confirm") {
    <div class="well">
      <h3>オプションプラン登録 確認</h3>
    </div>
      <form action="/admin/opt_plan/list">
        <fieldset>
          <legend>入力された内容</legend>
          <dl>
          <dt>プラン名</dt>
          <dd>
          ヘッダとフッダを表示しない
          </dd>
          </dl>
          <dl>
          <dt>料金</dt>
          <dd>
          100,000 円
          </dd>
          </dl>
          <dl>
          <dt>説明</dt>
          <dd>
          ヘッダとフッダを非表示にすることで、万葉のロゴを外すことが出来ます。
          </dd>
          </dl>
        </fieldset>
        <div class="actions">
          <a href="/admin/opt_plan/add" class="btn">戻る</a>
          <input type="submit" class="btn btn-primary" value="登録">
        </div>
      </form>
}
