@(optionPlan: models.charge.ChargeOptionPlans)


@admin.main("アンケートフォームサービス 管理画面")("/admin/opt_plan/detail") {
<div class="well">
    <h3>オプションプラン詳細</h3>
</div>
<fieldset>
    <dl>
        <dt>オプション区分</dt>
        <dd>
          @{models.charge.ChargeOptionPlans.name(optionPlan.optionType)}
        </dd>
    </dl>
    <dl>
        <dt>オプション値</dt>
        <dd>
          @{"%,d" format optionPlan.optionValue}
        </dd>
    </dl>
    <dl>
        <dt>料金</dt>
        <dd>
          @{"%,d" format optionPlan.charge} 円
        </dd>
    </dl>
    <dl>
        <dt>説明</dt>
        <dd>
          @optionPlan.description
        </dd>
    </dl>
    <dl>
        <dt>適用開始日</dt>
        <dd>
          @{val dformat = new java.text.SimpleDateFormat("yyyy/MM/dd HH:mm:ss")
          dformat.format(optionPlan.applyStartDate)}
        </dd>
    </dl>
</fieldset>
<div class="actions">
    <a href="/admin/opt_plan/list" class="btn">戻る</a>
</div>
}
