

@admin.main("アンケートフォームサービス 管理画面")("/admin/opt_plan/add") {
    <div class="well">
      <h3>オプションプラン登録画面</h3>
    </div>
      <form class="form-horizontal" action="/admin/opt_plan/confirm">
        <div class="control-group">
          <label class="control-label" for="plan_name">プラン名</label>
          <div class="controls">
            <input type="text" id="plan_name" placeholder="プラン名を入力" class="input-large" name="plan_name">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="price">料金</label>
          <div class="controls">
            <input type="text" id="price" placeholder="" class="input-small" name="price"> 円
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="description">説明</label>
          <div class="controls">
            <textarea rows="5" id="description" name="content_area" class="span9" placeholder="説明を入力" ></textarea>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">確認</button>
          </div>
        </div>
      </form>

}
