@(optionPlans: List[models.charge.ChargeOptionPlans])

@admin.main("アンケートフォームサービス 管理画面")("/admin/opt_plan/list") {
    <div class="well">
      <h3>オプション設定 プラン一覧</h3>
    </div>

    <table id="contracts_list" class="table table-bordered table-striped table-condensed">
        <tr class="table_header">
            <th class="op_id">オプションID▲</th>
            <th class="op_name"><a href="">オプション区分</a></th>
            <th class="op_price"><a href="">オプション値</a></th>
            <th class="op_price"><a href="">料金</a></th>
            <th class="op_other"></th>
        </tr>
        @for(optionPlan <- optionPlans) {
        <tr class="table_row">
            <td class="op_id">
              @optionPlan.id
            </td>
            <td class="op_name">
              @{models.charge.ChargeOptionPlans.name(optionPlan.optionType)}
            </td>
            <td class="op_price">
              @{"%,d" format optionPlan.optionValue}
            </td>
            <td class="op_price">
              @{"%,d" format optionPlan.charge} 円
            </td>
            <td class="op_other">
                <button class="btn btn-block btn-small btn-primary" type="button"
                        onclick="document.location = '/admin/opt_plan/detail/@optionPlan.id.toString';">詳細
                </button>
            </td>
        </tr>
        }
    </table>

}