@(chargePlan: models.charge.ChargePlans)

@admin.main("アンケートフォームサービス 管理画面")("/admin/plan/detail") {
<div class="well">
  <h3>料金プラン詳細</h3>
</div>
<fieldset>
  <dl>
    <dt>プラン名</dt>
    <dd>
      @chargePlan.name
    </dd>
  </dl>
  <dl>
    <dt>料金</dt>
    <dd>
      @{"%,d" format chargePlan.charge} 円
    </dd>
  </dl>
  <dl>
    <dt>説明</dt>
    <dd>
      @chargePlan.description
    </dd>
  </dl>
  <dl>
    <dt>収集件数</dt>
    <dd>
      @{"%,d" format chargePlan.collectNumber} 件
    </dd>
  </dl>
  <dl>
    <dt>アンケート期間</dt>
    <dd>
      @{"%,d" format chargePlan.term} ヶ月
    </dd>
  </dl>
  <dl>
    <dt>データ出力回数</dt>
    <dd>
      @{"%,d" format chargePlan.outputNumber} 回
    </dd>
  </dl>
  <dl>
    <dt>データ保存期間</dt>
    <dd>
      @{"%,d" format chargePlan.saveTerm} ヶ月
    </dd>
  </dl>
  <dl>
    <dt>適用開始日</dt>
    <dd>
      @{val dformat = new java.text.SimpleDateFormat("yyyy/MM/dd HH:mm:ss")
      dformat.format(chargePlan.applyStartDate)}
    </dd>
  </dl>
</fieldset>
<div class="actions">
  <a href="/admin/plan/list" class="btn">戻る</a>
</div>
}
