@(chargePlans: List[models.charge.ChargePlans])

@admin.main("アンケートフォームサービス 管理画面")("/admin/plan/list") {
<div class="well">
  <h3>料金プラン設定 プラン一覧</h3>
</div>

<table id="contracts_list" class="table table-bordered table-striped table-condensed">
  <tr class="table_header">
    <th class="p_id">プランID▲</th>
    <th class="p_name"><a href="">プラン名</a></th>
    <th class="p_price"><a href="">料金</a></th>
    <th class="p_answer_count"><a href="">収集件数</a></th>
    <th class="p_term"><a href="">アンケート時間</a></th>
    <th class="p_output_count"><a href="">データ出力回数</a></th>
    <th class="p_save_term"><a href="">データ保存期間</a></th>
    <th class="p_other"></th>
  </tr>
  @for(chargePlan <- chargePlans) {
  <tr class="table_row">
    <td class="p_id">
      @chargePlan.id
    </td>
    <td class="p_name">
      @chargePlan.name
    </td>
    <td class="p_price">
      @{"%,d" format chargePlan.charge} 円
    </td>
    <td class="p_answer_count">
      @{"%,d" format chargePlan.collectNumber} 件
    </td>
    <td class="p_term">
      @{"%,d" format chargePlan.term} ヶ月
    </td>
    <td class="p_output_count">
      @{"%,d" format chargePlan.outputNumber} 回
    </td>
    <td class="p_save_term">
      @{"%,d" format chargePlan.saveTerm} ヶ月
    </td>
    <td class="p_other">
      <button class="btn btn-block btn-small btn-primary" type="button"
              onclick="document.location = '/admin/plan/detail/@chargePlan.id.toString';">詳細
      </button>
    </td>
  </tr>
  }
</table>

}