

@admin.main("アンケートフォームサービス 管理画面")("/admin/plan/add") {
    <div class="well">
      <h3>料金プラン登録画面</h3>
    </div>
      <form class="form-horizontal" action="/admin/plan/confirm">
        <div class="control-group">
          <label class="control-label" for="plan_name">プラン名</label>
          <div class="controls">
            <input type="text" id="plan_name" placeholder="プラン名を入力" class="input-large" name="plan_name">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="price">料金</label>
          <div class="controls">
            <input type="text" id="price" placeholder="" class="input-small" name="price"> 円
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="description">説明</label>
          <div class="controls">
            <textarea rows="5" id="description" name="content_area" class="span9" placeholder="説明を入力" ></textarea>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="note">補足説明</label>
          <div class="controls">
            <textarea rows="5" id="note" name="content_area" class="span9" placeholder="補足説明を入力" ></textarea>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="collect_number">収集件数</label>
          <div class="controls">
            <input type="text" id="collect_number" placeholder="" class="input-mini" name="collect_number"> 件
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="enc_term">アンケート期間</label>
          <div class="controls">
            <input type="text" id="enc_term" placeholder="" class="input-mini" name="enc_term"> ヶ月
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="output_enable_count">データ出力回数</label>
          <div class="controls">
            <input type="text" id="output_enable_count" placeholder="" class="input-mini" name="output_enable_count"> 回
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="output_enable_count">データ保存期間</label>
          <div class="controls">
            <input type="text" id="output_enable_count" placeholder="" class="input-mini" name="output_enable_count"> ヶ月
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">確認</button>
          </div>
        </div>
      </form>

}
