

@admin.main("アンケートフォームサービス 管理画面")("/admin/plan/confirm") {
    <div class="well">
      <h3>料金プラン登録 確認</h3>
    </div>
      <form action="/admin/plan/list">
        <fieldset>
          <legend>入力された内容</legend>
          <dl>
          <dt>プラン名</dt>
          <dd>
          松
          </dd>
          </dl>
          <dl>
          <dt>料金</dt>
          <dd>
          100,000 円
          </dd>
          </dl>
          <dl>
          <dt>説明</dt>
          <dd>
          松プランは、色々コミコミプランです。<br />
          プランの特徴としては・・・
          </dd>
          </dl>
          <dl>
          <dt>補足説明</dt>
          <dd>
          なお、このプランはhogehogeなので・・・
          </dd>
          </dl>
          <dl>
          <dt>収集件数</dt>
          <dd>
          1,000,000 件
          </dd>
          </dl>
          <dl>
          <dt>アンケート期間</dt>
          <dd>
          12 ヶ月
          </dd>
          </dl>
          <dl>
          <dt>データ出力回数</dt>
          <dd>
          1,000 回
          </dd>
          </dl>
          <dl>
          <dt>データ保存期間</dt>
          <dd>
          12 ヶ月
          </dd>
          </dl>
        </fieldset>
        <div class="actions">
          <a href="/admin/plan/add" class="btn">戻る</a>
          <input type="submit" class="btn btn-primary" value="登録">
        </div>
      </form>
}
