@()(implicit session: play.api.mvc.Session)

@admin.main("アンケートフォームサービス 管理者ログイン画面")("/admin/login") {
      <div class="hero-unit">
        <h1>アンケートフォームサービス 管理者ログイン画面</h1>
        <p>ログイン情報を入力して下さい。</p>
      </div>
      @helper.form(action = routes.Admin.doLogin, 'class -> "form-horizontal") {
        <div class="control-group">
          <label class="control-label" for="user_id">ID</label>
          <div class="controls">
            <input type="text" id="userid" placeholder="ID" name="userid">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPassword">パスワード</label>
          <div class="controls">
            <input type="password" id="inputPassword" placeholder="Password" name="password">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary" id="loginBtn">ログイン</button>
          </div>
        </div>
      }
}
