@(errMsg: String = "")(implicit session: play.api.mvc.Session)

@main("アンケートフォームサービス ログイン画面") {
      <div class="hero-unit">
        <h1>アンケートフォームサービス ログイン画面</h1>
        <p>ログイン情報を入力して下さい。</p>
      </div>
  @if(errMsg != ""){
      <div class="alert alert-danger">
        <p>@errMsg</p>
      </div>
  }
      <form class="form-horizontal" method="POST" action="/login">
        <div class="control-group">
          <label class="control-label" for="userid">ID</label>
          <div class="controls">
            <input type="text" id="userid" placeholder="ID（メールアドレス）" name="userid">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password">パスワード</label>
          <div class="controls">
            <input type="password" id="password" placeholder="Password" name="password">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">ログイン</button>
            <div class="menu_link">
              <a href="@routes.Contract.regist">新規登録</a> <a href="@routes.Contract.forgotPass">パスワードを忘れた方はこちら</a>
            </div>
          </div>
        </div>
      </form>

}
