@()(implicit session: play.api.mvc.Session)

@main("アンケートフォームサービス 管理画面", false) {
<div class="well">
<h3>解約完了</h3>
</div>

<p>
解約手続きが完了しました。<br />
ご利用ありがとうございました。
</p>
<a href="@routes.Application.index()" class="btn">TOPへ</a>
}