@(errMsg:String = "")(implicit session: play.api.mvc.Session)

@main("アンケートフォームサービス 管理画面") {
<div class="well">
<h3>解約確認</h3>
</div>

<p>
この画面から解約手続きを行うことが出来ます。<br />
サービスを解約すると、現在実施中のアンケートおよびこれまでのアンケート情報はすべて削除されます。<br />
一度削除した情報は元に戻すことはできませんのでご注意ください。
</p>
<p>
解約するにはパスワードを入力してください。
</p>
	@if(errMsg != ""){
<div class="alert alert-error">
<button type="button" class="close" data-dismiss="alert">&times;</button>
		@errMsg
</div>
	}
<form action="@routes.EncConf.cancel" method="POST">
<div>
<input type="password" name="password" id="password" value="" />
</div>
<input type="submit" class="btn btn-danger" value="確認" />
<a href="@routes.EncConf.list" class="btn">キャンセル</a>
</form>
}