@(token:String, errMsg:String = "")(implicit session: play.api.mvc.Session)

@main("アンケートフォームサービス 管理画面") {
<div class="well">
<h3>解約手続き</h3>
</div>

<div class="alert color-highlight">
<h4>注意！</h4>
サービスを解約すると、現在実施中のアンケートおよびこれまでのアンケート情報はすべて削除されます。<br />
一度削除した情報は元に戻すことはできません。
</div>
<p>
解約を希望する場合は、以下の「解約により情報が削除されることに同意する」にチェックの上、<br />
解約ボタンを押下してください。
</p>
	@if(errMsg != ""){
<div class="alert alert-error">
<button type="button" class="close" data-dismiss="alert">&times;</button>
		@errMsg
</div>
	}
<form action="@routes.EncConf.doCancel" id="cancel_form" method="POST">
<label class="checkbox" for="cancel_check"><input type="checkbox" name="cancel_check" id="cancel_check" value="1" >解約により情報が削除されることに同意する</label>
<input type="hidden" name="token" value="@token" />
<input type="hidden" id="is_cancel" name="is_cancel" value="0" />
<input type="submit" class="btn btn-danger" value="解約" onclick='return confirm("これまでのアンケート情報はすべて削除されます。\n一度削除した情報は元に戻すことが出来ませんが本当によろしいですか？")' />
<input type="button" class="btn" value="キャンセル" onclick="cancelSubmit()" />
</form>
<script type="text/javascript">
<!--
	function cancelSubmit() {
		$("#is_cancel").val("1");
		$("#cancel_form").submit();
	}
// -->
</script>
}