@(formId:Long, changePlan:String, plans: List[models.charge.ChargePlans], selectplan:Option[models.enc.EncFormConfigs], options:List[models.charge.ChargeOptionPlans], selectoptions: List[models.enc.EncFormConfigValues], tutorialType: String)(implicit request: play.api.mvc.Request[Any], session: play.api.mvc.Session)

@import models.enc._

@main("アンケートフォームサービス 会員メニュー") {

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/encconf/base.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/encconf/list.css")">
<script src="@routes.Assets.at("javascripts/encconf/list.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery-ui-1.8.23.custom/js/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script>
  // フォーム項目
  MPlans = [
    @for(i <- 0 until plans.length){
    {id:'@plans(i).id', charge:'@if(plans(i).id == 4){0}else{@{plans(i).charge}}'}@if(i != plans.length - 1){,}
    }
  ]
  @if(!play.api.Play.current.configuration.getString("application.version").getOrElse("0.0").contains("α")){
  MOptions = [
    @for(i <- 0 until options.length){
    {id:'@options(i).id', charge:'@options(i).charge'}@if(i != options.length - 1){,}
    }
  ]
  }

  function chargesubmit(){
      if(!$('#planId').val()){
          alert("料金プランを選択してください");
          return;
      }

      $("#chargeselect").submit();
  }

  function setPlanId(planId){
      $('#planId').val(planId);

      changeCharge();
  }

  function changeCharge(){
      var id, idx, num;
  @if(selectplan.isDefined){
      var charge = @{plans.find(x => x.id == selectplan.get.chargePlanId.get).head.charge};
  }else{
      var charge = 0;
  }

      // 料金を加算する
      if($("#planId").val()){
        id = $("#planId").val();
        idx = $("#planidx" + id).val();
        charge += parseInt(MPlans[idx].charge);
      }

  @if(!play.api.Play.current.configuration.getString("application.version").getOrElse("0.0").contains("α")){
      // オプション料金を加算する
      for(idx = 0;idx < MOptions.length;idx++){
          num = parseInt($("#optionNum" +  MOptions[idx].id).text());
          if(num > 0){
            charge += num * parseInt(MOptions[idx].charge);
          }
      }
  }
      $("#totalcharge").html(addFigure(charge));
  }

  @if(!play.api.Play.current.configuration.getString("application.version").getOrElse("0.0").contains("α")){
  function addOption(optionidx, isadd){
      var num, id;

      id = MOptions[optionidx].id;
      num = parseInt($("#optionNum" + id).text());
      if(isadd){
        num++;
      }else{
        if(num > 0) num--;
      }
      $("#optionNum" + id).html(num);
      $("#voptionNum_" + id).val(num);

      changeCharge();
  }
  }

  function addFigure(str) {
    var num = new String(str).replace(/,/g, "");

    while(num != (num = num.replace(/^(-?\d+)(\d{3})/, "$1,$2")));

    return num;
  }

</script>
<div class="container">
<p>アンケートの料金プランを選択してください。</p>
  @if(tutorialType != "0"){
<a href="javascript:void(0)" id="restart_tutorial" class="btn btn-success" onclick="startTutorial()"><i class="icon-info-sign icon-white"></i> チュートリアルを再度実行する</a>
  }
<form method="post" action="@routes.EncConf.chargeupdate()" id="chargeselect">
<div data-toggle="buttons-radio">
<table id="plan_select_matrix" class="table table-bordered">
<caption><h3>料金選択</h3></caption>
</thead>
<tbody>
<tr>
<th>プラン</th>
  @for(plan <- plans){
<th>@plan.name</th>
  }
</tr>
<tr>
<td>料金</td>
  @for(plan <- plans){
<td>@if(plan.id == 4){<del>}@{"%1$,3d" format plan.charge}円@if(plan.id == 4){</del>} (税込)@if(plan.id == 4){<div class="alpha_campain">α版につき無料</div>}</td>
  }
</tr>
<tr>
<td>　</td>
  @for(plan <- plans){
    @if(selectplan.isDefined && selectplan.get.chargePlanId.get > plan.id || plan.id != 4){
<td><span class="alpha_campain">α版につき選択不可</span></td>
    }else{
<td>
<button id="planId@{plan.id}" onclick="setPlanId(@{plan.id})" type="button" class="plan_select btn btn-primary@if(selectplan.isDefined && selectplan.get.chargePlanId.isDefined && selectplan.get.chargePlanId.get == plan.id){ active}">選択</button>
<input id='planidx@{plan.id}' type='hidden' name='planIdx' value='@{plans.indexOf(plan)}'>
</td>
    }
  }
</tr>
<tr>
<td>人数</td>
  @for(plan <- plans){
<td>@if(plan.id == 4){<del>}@{plan.collectNumber}人@if(plan.id == 4){</del><div class="alpha_campain">α版につき無制限</div>}</td>
  }
</tr>
<tr>
<td>回答受付期間</td>
  @for(plan <- plans){
<td>@if(plan.id == 4){<del>}@{plan.term}日@if(plan.id == 4){</del><div class="alpha_campain">α版につき無制限</div>}</td>
  }
</tr>
<tr>
<td>ページ数</td>
  @for(plan <- plans){
<td>@{plan.pageNum}ページ</td>
  }
</tr>
<tr>
<td>質問項目数</td>
  @for(plan <- plans){
<td>@if(plan.id == 4){<del>}@{plan.itemNum}項目@if(plan.id == 4){</del><div class="alpha_campain">α版につき無制限</div>}</td>
  }
</tr>
  @if(!play.api.Play.current.configuration.getString("application.version").getOrElse("0.0").contains("α")){
<tr>
<td>保存期間</td>
  @for(plan <- plans){
<td>@{plan.saveTerm}日</td>
  }
</tr>
<tr>
<td>CSV出力回数</td>
  @for(plan <- plans){
<td>@{plan.csvOutputNum}回</td>
  }
</tr>
<tr>
<td>集計回答状況</td>
  @for(plan <- plans){
    @if(plan.answersDispType == 0){
<td></td>
    }else{
<td><i class="icon-ok"></i></td>
    }
  }
</tr>
<tr>
<td>アンケート開始日指定</td>
  @for(plan <- plans){
    @if(plan.isStartSet == "0"){
<td></td>
    }else{
<td><i class="icon-ok"></i></td>
    }
  }
</tr>
<tr>
<td>ロゴの設定</td>
  @for(plan <- plans){
    @if(plan.isLogoSet == "0"){
<td></td>
    }else{
<td><i class="icon-ok"></i></td>
    }
  }
</tr>
<tr>
<td>アンケート雛形の選択</td>
  @for(plan <- plans){
    @if(plan.isTemplate == "0"){
<td></td>
    }else{
<td><i class="icon-ok"></i></td>
    }
  }
</tr>
<tr>
<td>独自CSS設定</td>
  @for(plan <- plans){
    @if(plan.isCss == "0"){
<td></td>
    }else{
<td><i class="icon-ok"></i></td>
    }
  }
</tr>
<tr>
<td>InnerHTML</td>
  @for(plan <- plans){
    @if(plan.isInnerHtml == "0"){
<td></td>
    }else{
<td><i class="icon-ok"></i></td>
    }
  }
</tr>
<tr>
<td>外部キーの設定</td>
  @for(plan <- plans){
    @if(plan.isForeignKey == "0"){
<td></td>
    }else{
<td><i class="icon-ok"></i></td>
    }
  }
</tr>
  }
</tbody>
</table>
</div>
  @if(!play.api.Play.current.configuration.getString("application.version").getOrElse("0.0").contains("α")){
<table id="option_select_matrix" class="table table-bordered">
<caption><h3>オプション選択</h3></caption>
<thead>
<tr>
<th>オプション名</th>
<th>金額</th>
<th>個数</th>
<th></th>
</tr>
</thead>
<tbody>
    @for(option <- options){
<tr>
<td>@{option.description}</td>
<td>@{"%1$,3d円" format option.charge}(税込)</td>
<td>
<div id="optionNum@{option.id}">
    @{
      if(EncFormConfigValues.findByFormId(formId).find(x => x.optionId == option.id).isDefined){
        EncFormConfigValues.findByFormId(formId).find(x => x.optionId == option.id).head.optionNumber.toString
      }else{
        "0"
      }
    }
</div><input type="hidden" id="voptionNum_@{option.id}" name="voptionNum_@{option.id}" value="0"></td>
<td>
<input type="button" value="＋" class="btn btn-primary" onclick="addOption(@{options.indexOf(option)}, true)">
<input type="button" value="－" class="btn btn-danger" onclick="addOption(@{options.indexOf(option)}, false)">
</td>
</tr>
}
</tbody>
<tbody>
</table>
  }


<p>現在の料金<span id="totalcharge">0</span>円(税込)</p>
<input type="hidden" name="formId" value="@formId">
<input type="hidden" name="changePlan" value="@changePlan">
<input type="hidden" name="tutorialType" value="@tutorialType">
<input type="hidden" name="planId" id="planId" value="">
  @if(formId == 0){
<input type="button" id="plan_submit" value="決定"  class="btn btn-primary" onclick="chargesubmit();">
  }else{
<input type="button" id="plan_submit" value="変更"  class="btn btn-primary" onclick="chargesubmit();">
  }
<a href="@routes.EncConf.list()" class="btn">キャンセル</a>
</form>
</div>

	@if(tutorialType != "0"){
<script>
	$(function() {
		// チュートリアルを開始
		startTutorial();
	});

	function startTutorial(){
		$('#create_form').attr('href', '@routes.EncConf.chargeselect(0, "0", "2")');
		var intro = introJs();
		intro.setOptions({
			steps: [
				{
					element: document.querySelector('#plan_select_matrix'),
					intro: "料金プラン一覧となります。現在α版の為、松プランのみ選択可能です。松プランを選択してください。"
				},
				{
					element: document.querySelector('#plan_submit'),
					intro: "プラン選択後、こちらのボタンを押下してください。"
				}
			],
			showStepNumbers: false,
			showButtons: true,
			showBullets: false,
			nextLabel: "次へ",
			prevLabel: "前へ",
			doneLabel: "終了",
			skipLabel: "中断",
		});
		intro.oncomplete(function() {
			$('#tutorial_end_modal').modal();
		});
		intro.onexit(function() {
			$('#tutorial_end_modal').modal();
		});

		intro.start();
	}
</script>
<div class="modal hide fade" id="tutorial_end_modal">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>チュートリアル</h3>
	</div>
	<div class="modal-body">
		<p>
			もう一度アンケート作成画面のチュートリアルを確認したい方は<br />
			「チュートリアルを再度実行する」ボタンをクリックしてください。
		</p>
	</div>
	<div class="modal-footer">
		<input type="button" class="btn btn-primary" data-dismiss="modal" value="閉じる">
	</div>
</div>

	}

}
