@(formId: Long, errMsg: String = "")(implicit session: play.api.mvc.Session)

@main("アンケートフォームサービス 管理画面") {
<div class="well">
<h3>アンケートフォーム 削除確認</h3>
</div>

<div class="alert">
<h4>※注意</h4>
アンケートフォームを削除すると、アンケート集計結果は削除され元に戻すことはできません
</div>

	@if(errMsg != ""){
<div class="alert alert-error">
<button type="button" class="close" data-dismiss="alert">&times;</button>
		@errMsg
</div>
	}

<p>アンケートフォームを削除します。よろしいですか？</p>
<form action="@routes.EncConf.deleteForm" method="POST">
<div class="confirm_check">
<label class="checkbox" for="delete_check"><input type="checkbox" name="delete_check" id="delete_check" value="1" >アンケートフォームを削除する</label>
</div>
<input type="hidden" name="form_id" value="@formId" />
<input type="submit" class="btn btn-danger" value="削除する">
<a href="@routes.EncConf.list" class="btn">キャンセル</a>
</form>
}