@(curSerial:Long, encId:String, item: models.enc.EncFormItems, values: List[models.enc.EncFormItemValues])

<input type="button" value="項目追加" class="q_item_add btn btn-info" onclick="onAddItemClick('@encId')">

@for(value <- values){
<div id="q_answer_item_div_@e_quest_id(curSerial, value.itemId)" class="q_answer_item_div">
    <input type="checkbox" name="q_answer_chk_@curSerial" class="enc_q_answer">
    <input type="text" class="q_answer" value="@value.formValue">
    <input type="button" class="item_delete_btn btn btn-danger" value="削除"
           onclick="onDeleteClick(@e_quest_id(curSerial, value.itemId))">
</div>
}

<div id="q_answer_div_char_length_@encId" class="q_answer_div_char_length">
    選択個数：<input type="text" id="q_answer_char_length_@encId" value="@item.selectNumber" class="q_answer_div_char_length_input">
    <select class="q_answer_char_length_condition" id="q_answer_char_length_condition_@encId">
        <option value="1" @if(item.condition == "1"){selected}>個</option>
        <option value="2" @if(item.condition == "2"){selected}>個以上</option>
        <option value="3" @if(item.condition == "3"){selected}>個以下</option>
    </select>
</div>
