@(curSerial:Long, encId:String, item: models.enc.EncFormItems, values: List[models.enc.EncFormItemValues])
<input type="button" value="項目追加" class="q_item_add btn btn-info" onclick="onAddItemClick('@encId')">
@for(value <- values){
    <div id="q_answer_item_div_@e_quest_id(curSerial, value.itemId)" class="q_answer_item_div">
        <input type="text" class="q_answer" value="@value.formValue">
        <input type="button" class="item_delete_btn btn btn-danger" value="削除"
               onclick="onDeleteClick(@e_quest_id(curSerial, value.itemId))">
    </div>
}
