@(pageNum: Int, serial:String, formItems: List[models.enc.EncFormItems], formItemValues: List[models.enc.EncFormItemValues], mMFormItems: List[models.enc.EncMFormItems])

<div id="page_@pageNum" class="enc_q_page well">
    <div class="add_question_btn_div">
        <input type="button" class="btn btn-primary" value="質問の追加" onclick="addQuestionFormat(@pageNum)">
    </div>
    @e_question(serial, formItems, formItemValues, mMFormItems)
    <div class="add_page_btn_div">
        <input type="button" class="btn btn-warning" value="ページの追加" onclick="addPage()">
        <input type="button" class="btn btn-danger" value="ページの削除" onclick="onDeletePage(@pageNum)">
    </div>
</div>
