@(encSeedId:String, formItems: List[models.enc.EncFormItems], formItemValues: List[models.enc.EncFormItemValues], mMFormItems: List[models.enc.EncMFormItems])

@for(formItem <- formItems){
<div id="enc_q_@e_enc_id(encSeedId, formItem.itemId.toString)" class="q_div">
    <div class="q_div_title">
        <span class="ui-icon ui-icon-arrowthick-2-n-s ui-corner-all ui-state-hover"></span>
        タイトル:<input class="q_title" type="text" value="@formItem.name">
    </div>
    <div class="q_div_q_body" style="display: none; ">
        <div class="q_div_q_type">
            質問形式:
            <select class="q_q_type" id="q_q_type_@e_enc_id(encSeedId, formItem.itemId.toString)" onchange="onSelectChangeById('q_q_type_@e_enc_id(encSeedId, formItem.itemId.toString)')">
                @for(mMFormItem <- mMFormItems){
                  <option value="@mMFormItem.itemId" @(if(formItem.mItemId == mMFormItem.itemId)"selected")>@mMFormItem.name</option>
                }
            </select>
        </div>
        <div class="q_div_answer">
            @{
                val encId:String = e_enc_id(encSeedId, formItem.itemId.toString).body
                e_controller(encId, formItem, formItemValues.filter{ value => (value.formItemId == formItem.itemId)})
            }
        </div>
        <div class="q_div_must">
            <label class="checkbox inline"><input type="checkbox" class="q_must" value="true" @if(formItem.required == "1"){checked} />この質問を必須にする</label>
        </div>
    </div>
    <div class="q_div_button">
        <input type="button" value="完了" class="q_complete btn btn-primary" onclick="onUpdateClick('@e_enc_id(encSeedId, formItem.itemId.toString)')" disabled="" />
        <input type="button" value="編集" class="q_edit btn btn-inverse" onclick="onEditClick('@e_enc_id(encSeedId, formItem.itemId.toString)')" />
        <input type="button" value="削除" class="q_delete btn  btn-danger" onclick="onDeleteQuestionClick('@e_enc_id(encSeedId, formItem.itemId.toString)')" />
    </div>
    <input type="hidden" class="updatedAtFormItems" value="@{new java.text.SimpleDateFormat("yyyy-MM-dd HH:mm:ss.S").format(formItem.updatedAt)}">
    <input type="hidden" value="@formItem.itemId" class="enq_q_db_form_id" />
</div>
}