@(form: models.enc.EncForms, serial:String, formItems: List[models.enc.EncFormItems], formItemValues: List[models.enc.EncFormItemValues]
, mMFormItems: List[models.enc.EncMFormItems], mMFormItemValue: List[models.enc.EncMFormItemValues], isCreate:Boolean,
encConf:models.enc.EncFormConfigs, chargePlan:models.charge.ChargePlans, tutorialType: String = "0")(implicit session: play.api.mvc.Session)

@import java.text.SimpleDateFormat
@import models.enc._

@main("アンケート作成画面") {

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/encconf/base.css")">
<link href="@routes.Assets.at("javascripts/jquery-ui-1.8.23.custom/plugin/toastmessage-plugin-103d0e5/resources/css/jquery.toastmessage.css")" rel="stylesheet">
<script src="@routes.Assets.at("javascripts/encconf/index.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery-ui-1.8.23.custom/js/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery-ui-1.8.23.custom/js/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery-ui-1.8.23.custom/plugin/toastmessage-plugin-103d0e5/javascript/jquery.toastmessage.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/encconf/jquery.upload-1.0.2.js")" type="text/javascript"></script>
<script>
	var ItemsManage = new FormItemsManage('@form.formId');
	var PageNum = @chargePlan.pageNum;
	var ItemNum = @chargePlan.itemNum;
	var PageCounter = @form.totalPageCount;
@if(formItems != null){
		var ItemNumTotal = @formItems.length;
}else{
		var ItemNumTotal = 0;
}

	ItemsManage.initItems( new Array(
@if(formItems != null){
	@for(i <- 0 until formItems.length){
		{formid:'0',pageno:'@formItems(i).pageNo', itemid:'@formItems(i).itemId', dispodr:'@formItems(i).dispodr',status:'1',name:'@formItems(i).name'}@if(i < formItems.length - 1){,}
	}
}
	));

	$(function() {
		$(".enc_q_page").sortable({
			connectWith: ".enc_q_page",
			opacity: 0.7,
			items: '.q_div',
			handle: 'span',
			cursor: "move",
			update: function(event, ui) {
				var idx, pageidx;
				// TODO 並べ替え直後に何か処理をする場合はここに実装する
				// 別ページに移動した場合は、2回コールされるので、event.target.idと比較する
				if(ui.item.length == 1 && ui.item[0].parentNode.id == event.target.id){
					encId = ui.item[0].id.split('_')[2];
					pageIndex = ui.item[0].parentNode.id.split('_')[1];
					pageNum = getCurrentPageNumber(pageIndex);
					// divの何番目か確認する
					pageidx = 0;
					for(idx = 0;idx < ui.item[0].parentNode.children.length;idx++){
						if(ui.item[0].parentNode.children[idx].id == ui.item[0].id){
							break;
						}
						if(ui.item[0].parentNode.children[idx].id.substring(0,6) == "enc_q_"){
							pageidx++;
						}
					}
					ItemsManage.chgItemIndex(encId, String(pageNum), pageidx);
					ItemsManage.sendPost();
				}
			}
		});
		$(".q_div span").disableSelection();

@if(!play.api.Play.current.configuration.getString("application.version").getOrElse("0.0").contains("α")){
		$('#css_code_area').hide();
		$('input[name="css_design"]:radio').change( function() {
			var selected = $( this ).val()
			if(selected == '99'){
				$("#css_code_area").show();
			} else {
				$("#css_code_area").hide();
			}
		});
		$("#term_from,#term_to").datepicker();
		// ファイルアップロード処理
		$('#upload_submit').click(function() {
			$('#fields').upload('@{routes.EncConf.uploadLogo}', function(res) {
				if (res.success) {
					$('#logo_container').html("<img src='" + res.url + "'/>");
					$('#update_image_url').val(res.url);
					$('#logo_delete').show();
				} else if(res.error && res.message) {
					alert(res.message);
				}
			}, 'json');
		});

		// ファイル削除処理（画像の表示のみ削除）
		$('#logo_delete').click(function() {
			$('#logo_container').html("");
			$('#logo_delete').hide();
			$('#update_image_url').val("");
		});

		// モーダルダイアログ
		$('#logo_modal').on('show', function() {
			// 設定状態、アップロード画像URLを初期化
			$('#is_push_logo').val("0");
			$('#logo_file').val("");
			$('#update_image_url').val("");
			// 画像が設定されていた場合は表示する
			if ($('#setting_image_url').val() == "") {
				$('#logo_container').html("");
				$('#logo_delete').hide();
				$('#update_image_url').val("");
			} else {
				$('#logo_container').html("<img src='" + $('#setting_image_url').val() + "' />");
				$('#logo_delete').show();
				$('#update_image_url').val($('#setting_image_url').val());
			}

		});

		// 設定ボタン
		$('#logo_set').click(function() {
			var mode = 0;
			if ($('#update_image_url').val() != $('#setting_image_url').val()) {
				// 新たに画像が指定された場合
				if ($('#update_image_url').val() != "" && $('#setting_image_url').val() == "") {
					mode = 1;
					// 登録されていた画像が削除された場合
				} else if ($('#update_image_url').val() == "" && $('#setting_image_url').val() != "") {
					mode = 2;
				// 登録される画像に変更があった場合
				} else {
					mode = 3;
				}
			}

			if (mode != 0) {
				if (confirm("ロゴの設定を変更しますか？")) {
					// 画像URLを登録
					var data = {
						form_id: '@{form.formId}',
						image_url: $('#update_image_url').val(),
						mode: mode
					};
					$.ajax({
						type: "GET",
						url: "@{routes.EncConf.updateImage}",
						cache: false,
						data: data,
						async: false,
						dataType: "json",
						success: function(res) {
							if (res.success == "1") {
								alert("設定を行いました。");
								$('#setting_image_url').val($('#update_image_url').val());
							} else {
								alert(res.message);
								return false;
							}
						},
						error: function(XMLHttpRequest, textStatus, errorThrown) {
							alert("設定変更に失敗しました。(" + textStatus + ")");
							return false;
						}
					});

				} else {
					return false;
				}
			}
		});
}

@if(tutorialType == "1"){
		showTutorialModal();
}
@if(tutorialType == "2"){
		startTutorial();
}
	});

@if(tutorialType != "0"){
	function showTutorialModal() {
		$('#enq_regist_tutorial').modal();
	}

	function startTutorial(){
		var intro = introJs();
		intro.setOptions({
			steps: [
				{
					element: document.querySelector('#enc_title'),
					intro: "新しいアンケートフォームのタイトルを入力します。タイトル入力後、「次へ」をクリックしてください。"
				},
				{
					element: document.querySelector('#enc_detail'),
					intro: "新しいアンケートフォームの説明文を入力します。説明文入力後、「次へ」をクリックしてください。"
				},
				{
					element: document.querySelector('#enc_result_message'),
					intro: "新しいアンケートフォームの回答後メッセージを入力します（任意入力）。入力後、「次へ」をクリックしてください。"
				},
				{
					element: document.querySelector('#page_1 > div.add_question_btn_div > input[type="button"][value="質問の追加"]'),
					intro: "新しいアンケートフォームの質問を追加するには、上の「質問の追加」ボタンを押してください。ボタン押下後、追加された質問項目に対して設定を行います。"
				},
				{
					element: document.querySelector('#page_1 > div.add_page_btn_div'),
					intro: "質問項目を複数ページに分割したい場合に「ページの追加」を選択してください。「ページの削除」を選択すると、ページ内の質問項目はすべて削除されますのでご注意ください。"
				},
				{
					element: document.querySelector('#preview_button'),
					intro: "質問項目設定後にクリックすると、回答画面のイメージが確認できます。タイトルや質問項目が存在しない状態でクリックすると、エラーとなりますので、その場合はアンケートタイトルや質問項目を登録してください。"
				}
			],
			showStepNumbers: false,
			showButtons: true,
			showBullets: false,
			nextLabel: "次へ",
			prevLabel: "前へ",
			doneLabel: "終了",
			skipLabel: "中断",
		});
		intro.oncomplete(function() {
			$('#tutorial_end_modal').modal();
		});
		intro.onexit(function() {
			$('#tutorial_end_modal').modal();
		});

		intro.start();
	}

	function aboutQuestion() {
		$('#enc_q_type_modal').modal();
	}

}

	function newWindow(url){
		window.open(url, 'mywindow1', 'menubar=no, toolbar=no, location=no, status=no, scrollbars=yes');
	}

	// フォーム項目
	MFormItems = [
		@for(mformitem <- mMFormItems){
			{id:'@mformitem.itemId', name:'@mformitem.name', kind:'@mformitem.kind'},
		}
	]

	// 定型データ
	MFormItemValues = [
		@for(mformitem <- mMFormItems){
			@if(mMFormItemValue.filter(x => x.mFormItemsId == mformitem.itemId).length > 0){{values:[
				@for(mformitemvalues <- mMFormItemValue.filter(x => x.mFormItemsId == mformitem.itemId)){{id:'@mformitemvalues.id', itemValue:'@mformitemvalues.itemValue'},}
				]},
			}else{{values:null},}
		}
	]

	function saveAction() {
		if (confirm("編集を終了してもよろしいですか？")) {
			location.href="/conf/list";
		}
	}
</script>
<style>
	.q_div span:hover { cursor: move; }
</style>
<div id="enc">
	<div id="enc_header">
		<div id="header_title">
			<p class="enc_content_title">アンケートタイトル</p>
			<input id="enc_title" type="text" placeholder="アンケートタイトルは100文字以内で入力してください。" value="@form.formName">
		</div>
		<div id="header_detail">
			<p class="enc_content_title">アンケートの説明</p>
			<textarea id="enc_detail" rows="5" cols="1" placeholder="アンケートの詳細は2500文字以内で入力してください。">@form.formDesc</textarea>
			<p class="enc_content_title">アンケート回答後のメッセージ</p>
			<textarea id="enc_result_message" rows="3" cols="1" placeholder="アンケート後のメッセージは1000文字以内で入力してください。">@form.resultMessage</textarea>
		</div>
	</div>
	<div id="enc_main">
		<div id="enc_q_conf">
			@if(tutorialType != "0"){
			<div id="tutorial_button_area">
				<a href="javascript:aboutQuestion()" id="about_question" class="btn btn-success"><i class="icon-info-sign icon-white"></i> 質問項目について</a>
				<a href="#enq_regist_tutorial" data-toggle="modal" id="restart_tutorial" class="btn btn-success"><i class="icon-info-sign icon-white"></i> チュートリアルを再度実行する</a>
			</div>
			}
			@if(isCreate){
			<div id="page_1" class="enc_q_page well">
				<div class="add_question_btn_div">
					<input type="button" class="btn btn-primary" value="質問の追加" onclick="addQuestionFormat(1)">
				</div>
				<div class="add_page_btn_div">
					<input type="button" class="btn btn-warning" value="ページの追加" onclick="addPage()">
					<input type="button" class="btn btn-danger" value="ページの削除" onclick="onDeletePage(1)">
				</div>
			</div>
			}else{
				@for(pageNum <- 1 to form.totalPageCount){
					@encconf.e_page(pageNum, serial, formItems.filter(item => item.pageNo == pageNum), formItemValues,
						mMFormItems)
				}
			}
		</div>
	</div>
	<div id="enc_footer">
		@if(!play.api.Play.current.configuration.getString("application.version").getOrElse("0.0").contains("α")){
			@if(chargePlan.isStartSet != "0" && EncAnswers.findByFormid(form.formId).filter(x => x.isPreview == "0").length == 0){
				<div id="display_term">
					掲載期間 <input type="text" id="term_from" class="input-small"/> ～ {@chargePlan.term}日間
					※アンケートを開始後、回答者がいる場合は、期間を変更することはできません
				</div>
			}else{
				<div id="display_term">
					掲載期間 @{"%tY年%<tm月%	<td日	" format encConf.startSt} ～ {@chargePlan.term}日間
				</div>
			}
		}
		<div id="price_area">
		@if(!play.api.Play.current.configuration.getString("application.version").getOrElse("0.0").contains("α")){
			利用料金　@{"%1$,3d円" format encConf.price.get}(税込)
			<a class="btn btn-primary" data-toggle="modal" href="#price_modal">オプション設定</a>
			@if(chargePlan.isLogoSet == "1"){
				<a class="btn btn-primary" data-toggle="modal" href="#logo_modal">ロゴ登録</a>
			}
		}
			<a class="btn" href="#" onclick="newWindow('/encpreview/@form.urlKey');" id="preview_button">プレビュー</a>
            <span class="pull-right"><a class="btn btn-primary" id="save"
                                        href="javascript:saveAction()">アンケート一覧へ</a></span>
		</div>
	</div>
	<input type="hidden" id="formId" value="@form.formId">
	<input type="hidden" id="contractId" value="@form.contractId">
	@{
		val sdf = new SimpleDateFormat("yyyy-MM-dd HH:mm:ss.S");
		Html("<input type=\"hidden\" id=\"updatedAt\" value=\"" + sdf.format(form.updatedAt) + "\">")
	}

@if(!play.api.Play.current.configuration.getString("application.version").getOrElse("0.0").contains("α")){
	<div class="modal hide fade" id="price_modal">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>

			<h3>オプション設定</h3>
		</div>
		<div class="modal-body">
			<label for="remove_header_footer" class="checkbox"><input type="checkbox" id="remove_header_footer"/>ヘッダとフッダを表示しない</label>
			<label for="result_open" class="checkbox"><input type="checkbox" id="result_open"/>アンケート結果を公開する</label>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn btn-primary" data-dismiss="modal">設定</a>
		</div>
	</div>

	<div class="modal hide fade" id="css_modal">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>

			<h3>背景設定</h3>
		</div>
		<div class="modal-body">
			<table>
				<tr>
					<td>
						<label class="radio" for="css1"><input type="radio" id="css1" name="css_design" value="1"/><img
							src="@routes.Assets.at("/images/140x140.gif")" class="img-rounded" /></label>
					</td>
					<td>
						<label class="radio" for="css2"><input type="radio" id="css2" name="css_design" value="2"/><img
							src="@routes.Assets.at("/images/140x140.gif")" class="img-rounded" /></label>
					</td>
					<td>
						<label class="radio" for="css3"><input type="radio" id="css3" name="css_design" value="3"/><img
							src="@routes.Assets.at("/images/140x140.gif")" class="img-rounded" /></label>
					</td>
				</tr>
				<tr>
					<td>
						<label class="radio" for="css4"><input type="radio" id="css4" name="css_design" value="4"/><img
							src="@routes.Assets.at("/images/140x140.gif")" class="img-rounded" /></label>
					</td>
					<td>
						<label class="radio" for="css5"><input type="radio" id="css5" name="css_design" value="5"/><img
							src="@routes.Assets.at("/images/140x140.gif")" class="img-rounded" /></label>
					</td>
					<td>
						<label class="radio" for="css6"><input type="radio" id="css6" name="css_design" value="6"/><img
							src="@routes.Assets.at("/images/140x140.gif")" class="img-rounded" /></label>
					</td>
				</tr>
				<tr>
					<td>
						<label class="radio" for="css7"><input type="radio" id="css7" name="css_design" value="7"/><img
							src="@routes.Assets.at("/images/140x140.gif")" class="img-rounded" /></label>
					</td>
					<td>
						<label class="radio" for="css8"><input type="radio" id="css8" name="css_design" value="8"/><img
							src="@routes.Assets.at("/images/140x140.gif")" class="img-rounded" /></label>
					</td>
					<td>
						<label class="radio" for="css9"><input type="radio" id="css9" name="css_design" value="9"/><img
							src="@routes.Assets.at("/images/140x140.gif")" class="img-rounded" /></label>
					</td>
				</tr>
			</table>
			<label class="radio" for="css_org"><input type="radio" id="css_org" name="css_design"
			                                          value="99"/>独自CSSを利用する</label>

			<div class="well" id="css_code_area">
				<textarea rows="20" class="span4"></textarea>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn btn-primary" data-dismiss="modal">設定</a>
		</div>
	</div>

	<div class="modal hide fade" id="logo_modal">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>

			<h3>ロゴ登録</h3>
		</div>
		<div class="modal-body">
			<input type="hidden" id="is_push_logo" value="0"/>
			<input type="hidden" id="form_id" value="@form.formId"/>
			<input type="hidden" id="setting_image_url" name="image_url" value="@form.imageUrl"/>
			<input type="hidden" id="update_image_url" name="image_url" value=""/>

			<form action="#" method="post">
				<div id="fields">
					<input type="file" name="logo_file" id="logo_file"/>
					<input type="hidden" name="form_id" value="@form.formId"/>
					<input type="button" id="upload_submit" value="アップロード" class="btn btn-primary">
				</div>
			</form>
			<div>
				<input type="button" id="logo_delete" value="ロゴの指定を削除する" class="btn btn-danger">
			</div>
			<div id="logo_container">
				<img src='@{if(form.imageUrl != "") form.imageUrl }'/>
			</div>
		</div>
		<div class="modal-footer">
			<input type="button" id="logo_set" class="btn btn-primary" data-dismiss="modal" value="設定">
		</div>
	</div>
}

@if(tutorialType != "0"){
	<div class="modal hide fade" id="enc_q_type_modal">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>アンケートの質問項目について</h3>
		</div>
		<div class="modal-body">
			<p>
				アンケートの質問項目は、種類によって設定方法が異なります。<br />
				種類毎の設定方法は以下となりますのでご確認ください。
			</p>
			@q_description()
		</div>
		<div class="modal-footer">
			<input type="button" class="btn btn-primary" data-dismiss="modal" value="閉じる">
		</div>
	</div>

	<div class="modal hide fade" id="enq_regist_tutorial">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>チュートリアル</h3>
		</div>
		<div class="modal-body">
			<p>
				これからアンケート登録画面の機能についてご説明します。<br />
				以下のボタンをクリック後、画面の指示に従って「次へ」を選択してください。
				質問項目の詳細を確認するには、「質問項目について」ボタンをクリックしてください。
			</p>
			<a href="javascript:void(0)" data-dismiss="modal" class="btn btn-success" onclick="startTutorial()"><i class="icon-info-sign icon-white"></i> アンケート登録画面のチュートリアルを開始する</a>
		</div>
		<div class="modal-footer">
			<form action="" method="GET">
				<input type="button" class="btn btn-primary" data-dismiss="modal" value="閉じる">
			</form>
		</div>
	</div>
	<div class="modal hide fade" id="tutorial_end_modal">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>チュートリアル</h3>
		</div>
		<div class="modal-body">
			<p>
				もう一度アンケート作成画面のチュートリアルを確認したい方は<br />
				「チュートリアルを再度実行する」ボタンをクリックしてください。
			</p>
		</div>
		<div class="modal-footer">
			<input type="button" class="btn btn-primary" data-dismiss="modal" value="閉じる">
		</div>
	</div>

}
</div>

}
