@(formList: List[models.enc.EncForms], configList: List[models.enc.EncFormConfigs], chargeList: List[models.charge.ChargePlans], infoList: List[models.Information], tutorialType: String = "0")(implicit request: play.api.mvc.Request[Any], session: play.api.mvc.Session, flash: Flash)

@import models.enc._

@main("アンケートフォームサービス 会員メニュー") {

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/encconf/base.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/encconf/list.css")">
<script src="@routes.Assets.at("javascripts/encconf/list.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery-ui-1.8.23.custom/js/jquery-1.8.0.min.js")" type="text/javascript"></script>

<script>
  function updateStatus(formId, status){
    if(confirm("ステータスを変更してもよろしいですか?")){
      document.location = '/conf/updatestatus/' + formId + '/' + status;
    }
  }

  function newWindow(url){
    window.open(url, 'mywindow1', 'menubar=no, toolbar=no, location=no, status=no, scrollbars=yes');
  }
</script>

@if(!infoList.isEmpty){
<div class="alert">
<h4>お知らせ<span style="font-size:small; margin-left:10px;"><a class="icon-chevron-down accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"></a></span></h4>
<div id="collapseOne" class="accordion-body in collapse">
  @for(infor <- infoList) {
<dl>
<dt>
@{val dformat = new java.text.SimpleDateFormat("yyyy/MM/dd")
dformat.format(infor.sendDate)} @infor.subject
</dt>
<dd>@Html(infor.content)</dd>
</dl>
  }
</div>
</div>
}
@if(flash.get("EncConf.list.message").getOrElse("") != ""){
<div class="alert alert-danger">
    @flash.get("EncConf.list.message").getOrElse("")
</div>
}

<div id="enc_add">
    <a href='@routes.EncConf.chargeselect(0, "0", "0")' class="btn btn-primary" id="create_form">新規追加</a>
</div>

<div id="enc_list">
		@if(formList.length > 0){
    <table class="table table-bordered table-striped table-condensed">
        <tr class="table_header">
            <th class="enc_title">アンケートタイトル</th>
            <th class="enc_desc">アンケート説明</th>
            <th class="page_count">ページ数</th>
            <th class="updated_at">更新日</th>
            <th class="plan">プラン</th>
            <th class="status">ステータス</th>
            <th class="other"></th>
        </tr>

        @if(!formList.isEmpty){
            @for(form <- formList){
                <tr class="table_row">
                    <td class="enc_title">@form.formName</td>
                    <td class="enc_desc">
                @for(desc <- form.formDesc.split("\n")) {@desc<br />}
                    </td>
                    <td class="page_count">@form.totalPageCount</td>
                    <td class="updated_at">@{new java.text.SimpleDateFormat("yyyy-MM-dd HH:mm:ss").format(form.updatedAt)}</td>
                    <td class="plan">
                  @if(configList.filter(x => x.formId == form.formId).length == 0){
                        <span class="label">プラン未選択</span><br />
                  }else{
                        <span class="badge badge-important">@chargeList.filter(x => x.id == configList.filter(x => x.formId == form.formId).head.chargePlanId.getOrElse(-1)).head.description</span><br />
                  }
                    </td>
                    <td class="status">
                        <div class="btn-group">
                            @if(form.status == EncForms.STATUS_RUN){
                                <a class="btn btn-primary disabled"><i class="icon-play icon-white"></i>　@{EncForms.STATUS_LIST(form.status)}</a>
                                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a onclick="updateStatus('@{form.formId}', @EncForms.STATUS_END);"><i class="icon-stop"></i>　終了</a></li>
                                    <li><a onclick="updateStatus('@{form.formId}', @EncForms.STATUS_CANCEL);"><i class="icon-pause"></i>　中止</a></li>
                                </ul>
                            }
                            @if(form.status == EncForms.STATUS_EDIT){
                                <a class="btn btn-info disabled"><i class="icon-edit icon-white"></i>　@{EncForms.STATUS_LIST(form.status)}</a>
                                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a onclick="updateStatus('@{form.formId}', @EncForms.STATUS_RUN);"><i class="icon-play"></i>　開始</a></li>
                                </ul>
                            }
                            @if(form.status == EncForms.STATUS_CANCEL){
                                <a class="btn btn-warning disabled"><i class="icon-pause icon-white"></i>　@{EncForms.STATUS_LIST(form.status)}</a>
                                <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a onclick="updateStatus('@{form.formId}', @EncForms.STATUS_RUN);"><i class="icon-play"></i>　開始</a></li>
                                    <li><a onclick="updateStatus('@{form.formId}', @EncForms.STATUS_END);"><i class="icon-stop"></i>　終了</a></li>
                                </ul>
                            }
                            @if(form.status == EncForms.STATUS_END){
                                <a class="btn btn-inverse disabled"><i class="icon-stop icon-white"></i>　@{EncForms.STATUS_LIST(form.status)}</a>
                                <a class="btn btn-inverse disabled dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                            }
                        </div>
                    </td>
                    <td class="other">
                        @if(form.status == EncForms.STATUS_EDIT){
                            <input class="btn btn-block btn-primary" type="button" onclick="location.href='@routes.EncConf.formedit(form.formId)'" value="編集" />
                            <input class="btn btn-block btn-danger" type="button" onclick="location.href='@routes.EncConf.deleteConfirm(form.formId)'" value="削除" />
                        }
                    <input class="btn btn-block" type="button" onclick="newWindow('@routes.Enc.preview(form.urlKey)');" value="プレビュー" />
                        @if(form.status != EncForms.STATUS_EDIT){
                            <input class="btn btn-block btn-success" type="button" onclick="newWindow('@routes.EncResult.report("1", form.urlKey, false)');" value="集計結果" />
                        }
                    </td>
                </tr>
                <tr class="table_row">
                    <td colspan="9">
                        <span class="label label-info">URL</span>
                        @if(form.status == EncForms.STATUS_RUN){
                            <a href="@{routes.Enc.index(form.urlKey, "0", "", "", "", "", "", "").absoluteURL()}" target="_blank">@{routes.Enc.index(form.urlKey, "0", "", "", "", "", "", "").absoluteURL()}</a>
                        }
                    </td>
                </tr>
            }
        }

    </table>
		}else{
			<p>アンケートフォームは1件も作成されていません。</p>
		}
</div>

	@if(tutorialType != "0"){
<script>
$(function() {
	// チュートリアルを開始
	$('#tutorial_modal').modal();
});

function startTutorial(){
  $('#create_form').attr('href', '@routes.EncConf.chargeselect(0, "0", "2")');
	var intro = introJs();
		@if(formList.length > 0){
	intro.setOptions({
		steps: [
			{
				element: document.querySelector('#enc_list'),
				intro: "これまでに登録したアンケートの一覧が表示されます。"
			},
			{
				element: document.querySelector('#enc_list > table tr td.status .btn-group'),
				intro: "アンケートの現在のステータスが表示されます。アンケートの開始、中断、終了などもここから行います。"
			},
			{
				element: document.querySelector('#enc_list > table tr td.other'),
				intro: "アンケートの編集、削除、プレビュー確認はこちらから行います。アンケート開始後はアンケートの編集は行いませんのでご注意ください。"
			},
			{
				element: document.querySelector('#create_form'),
				intro: "ここから新しいアンケートフォームを作成します。"
			}
		],
		showStepNumbers: false,
		showButtons: true,
		showBullets: false,
		nextLabel: "次へ",
		prevLabel: "前へ",
		doneLabel: "終了",
		skipLabel: "中断",
	});
		} else {
	intro.setOptions({
		steps: [
			{
				element: document.querySelector('#create_form'),
				intro: "ここから新しいアンケートフォームを作成します。"
			}
		],
		showStepNumbers: false,
		showButtons: false,
		showBullets: false,
	});
		}
	intro.oncomplete(function() {
		$('#tutorial_end_modal').modal();
	});
	intro.onexit(function() {
		$('#tutorial_end_modal').modal();
	});

	intro.start();
}

function startEditTutorial() {
  $('#create_form').attr('href', '@routes.EncConf.chargeselect(0, "0", "1")');
  $('#create_form').click();
}
</script>
<div class="modal hide fade" id="tutorial_modal">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>チュートリアル</h3>
	</div>
	<div class="modal-body">
		<p>
			アンケートフォームサービス<span class="color-highlight">@commons.Constants.SERVICE_NAME</span>にようこそ。<br />
			アンケートの作成方法について確認したい方は<br />
			以下のボタンをクリックしてください。<br />
			※チュートリアル実行の際に、新たにアンケートフォームが作成されます。
		</p>
		<ul>
		<li><a href="#enq_list_tutorial" data-toggle="modal" data-dismiss="modal">アンケート一覧画面のチュートリアルを開始する</a></li>
		<li><a href="javascript:void(0)" data-dismiss="modal" onclick="startEditTutorial()">アンケート登録画面のチュートリアルを開始する</a></li>
		</ul>
	</div>
	<div class="modal-footer">
		<form action="" method="GET">
			<input type="button" class="btn btn-primary" data-dismiss="modal" value="閉じる">
		</form>
	</div>
</div>
<div class="modal hide fade" id="enq_list_tutorial">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>チュートリアル</h3>
	</div>
	<div class="modal-body">
		<p>
			これからアンケート一覧画面の機能についてご説明します。<br />
			以下のボタンをクリック後、画面の指示に従って「次へ」を選択してください。
		</p>
		<a href="javascript:void(0)" data-dismiss="modal" class="btn btn-success" onclick="startTutorial()"><i class="icon-info-sign icon-white"></i> アンケート登録画面のチュートリアルを開始する</a>
	</div>
	<div class="modal-footer">
		<input type="button" class="btn btn-primary" data-dismiss="modal" value="閉じる">
	</div>
</div>
<div class="modal hide fade" id="tutorial_end_modal">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>チュートリアル</h3>
	</div>
	<div class="modal-body">
		<p>
			もう一度アンケート作成画面のチュートリアルを確認したい方は<br />
			画面上部の「チュートリアル」を選択してください。
		</p>
	</div>
	<div class="modal-footer">
		<input type="button" class="btn btn-primary" data-dismiss="modal" value="閉じる">
	</div>
</div>
	}
}
