@()(implicit session: play.api.mvc.Session)

@main("アンケートフォームサービス 管理画面") {
    <div class="well">
      <h3>パスワード変更</h3>
    </div>
    <div class="alert alert-info">
      パスワードを変更しました。
    </div>
    <a href="@routes.EncConf.list"><button type="submit" class="btn">戻る</button></a>
}