@(changePassForm: Form[controllers.EncConf.ChangePassContext])(implicit session: play.api.mvc.Session)

@import helper._

@main("アンケートフォームサービス 管理画面") {
<div class="well">
<h3>パスワード変更</h3>
</div>

	@helper.form(action = routes.EncConf.passwdSubmit, 'class -> "form-horizontal") {
<fieldset>
		@inputPassword(changePassForm("oldpass"), '_label -> "現在のパスワード", '_help -> "現在のパスワードを入力")
    @inputPassword(changePassForm("pass.main"), '_label -> "新しいパスワード", '_help -> "新しいパスワードを入力")
    @inputPassword(changePassForm("pass.confirm"), '_label -> "新しいパスワード（確認）", '_error -> changePassForm.error("pass"))
<div class="actions">
<input type="submit" class="btn btn-primary" value="変更" />
<a href="@routes.EncConf.list" class="btn">キャンセル</a>
</div>
</fieldset>
	}

}