@()
<hr />
<h4>テキストボックス</h4>
<img src="@routes.Assets.at("images/enc_textbox.png")" alt="テキストボックス設定項目" class="thumbnail manual_enc_q_type" />
<div class="manual_enq_q_img_capture">設定時</div>
<img src="@routes.Assets.at("images/enc_answer_textbox.png")" alt="テキストボックス回答画面" class="thumbnail manual_enc_q_type" />
<div class="manual_enq_q_img_capture">回答時</div>
<p>
	ニックネームやメールアドレスなど、単一行の質問を設定する為の項目です。<br />
	設定項目として、入力文字数の長さ、必須項目有無の設定が可能です。
</p>
<hr />
<h4>テキストエリア</h4>
<img src="@routes.Assets.at("images/enc_textarea.png")" alt="テキストエリア設定項目" class="thumbnail manual_enc_q_type" />
<div class="manual_enq_q_img_capture">設定時</div>
<img src="@routes.Assets.at("images/enc_answer_textarea.png")" alt="テキストエリア回答画面" class="thumbnail manual_enc_q_type" />
<div class="manual_enq_q_img_capture">回答時</div>
<p>
	備考や理由など、複数行の質問を設定する為の項目です。<br />
	設定項目として、入力文字数の長さ、必須項目有無の設定が可能です。
</p>
<hr />
<h4>ラジオボタン</h4>
<img src="@routes.Assets.at("images/enc_radio.png")" alt="ラジオボタン設定項目" class="thumbnail manual_enc_q_type" />
<div class="manual_enq_q_img_capture">設定時</div>
<img src="@routes.Assets.at("images/enc_answer_radio.png")" alt="ラジオボタン回答画面" class="thumbnail manual_enc_q_type" />
<div class="manual_enq_q_img_capture">回答時</div>
<p>
	年代など、複数の質問項目から1つを設定する為の項目です。<br />
	質問の選択肢を増やしたい場合は「項目追加」ボタンを、減らしたい場合は、項目横の「削除」ボタンをクリックしてください。<br />
	設定項目として、必須項目有無の設定が可能です。
</p>
<hr />
<h4>チェックボックス</h4>
<img src="@routes.Assets.at("images/enc_check.png")" alt="チェックボックス設定項目" class="thumbnail manual_enc_q_type" />
<div class="manual_enq_q_img_capture">設定時</div>
<img src="@routes.Assets.at("images/enc_answer_check.png")" alt="チェックボックス回答画面" class="thumbnail manual_enc_q_type" />
<div class="manual_enq_q_img_capture">回答時</div>
<p>
	興味のある項目など、複数の質問項目から複数を設定する為の項目です。<br />
	質問の選択肢を増やしたい場合は「項目追加」ボタンを、減らしたい場合は、項目横の「削除」ボタンをクリックしてください。<br />
	設定項目として、選択可能な項目数（n個、n個以上、n個以下から選択可）、必須項目有無の設定が可能です。
</p>
<hr />
<h4>ドロップダウンリスト</h4>
<img src="@routes.Assets.at("images/enc_drop.png")" alt="ドロップダウンリスト設定項目" class="thumbnail manual_enc_q_type" />
<div class="manual_enq_q_img_capture">設定時</div>
<img src="@routes.Assets.at("images/enc_answer_drop.png")" alt="ドロップダウンリスト回答画面" class="thumbnail manual_enc_q_type" />
<div class="manual_enq_q_img_capture">回答時</div>
<p>
	年代など、複数の質問項目から1つを設定する為の項目です。<br />
	選択可能な項目数はラジオボタンと同じですが、ラジオボタンは選択肢が全て一目で確認出来るのに対し、
	ドロップダウンリストは表示スペースを少なく出来ます。<br />
	質問の選択肢を増やしたい場合は「項目追加」ボタンを、減らしたい場合は、項目横の「削除」ボタンをクリックしてください。<br />
	設定項目として、必須項目有無の設定が可能です。
</p>
