/* ------------------------------------
　　レイアウト構成要素定義
   ------------------------------------ */
/*アンケート領域*/
#enc{
    width: 55%;
    /*margin-top: 10px;*/
    margin: 0 auto;
}

/*ヘッダ領域*/
#header{
    height: 20%;
    border-bottom: solid black;

    min-height:100px;
    height:auto !important;
    height:100px;
}

/*アンケートタイトル領域*/
#heder_title{
    width: 100%;
}

/*アンケート詳細領域*/
#header_detail{
    width: 100%;
    float: left;
}

/*ボディ領域*/
#main{
    height: 70%;

    min-height:530px;
    height:auto !important;
    height:530px;
}

/*フッター領域*/
#footer{
    border-top: solid black;
    height: 10%;

    min-height:50px;
    height:auto !important;
    height:50px;
}

/* ------------------------------------
　　画面構成要素定義
   ------------------------------------ */
/*アンケートタイトル*/
#enc_title{
    width: 80%;
    font-size: larger;;
}

/*アンケート詳細*/
#enc_detail{
    width: 80%;
    font-size: smaller;
    line-height: 1.5;
}

/*フッターの左領域*/
#fotter_left{
    float: left;
}

/*フッターの右領域*/
#fotter_right{
    float: right;
}

/* ------------------------------------
　　クラス定義
   ------------------------------------ */
