/* ------------------------------------
　　レイアウト構成要素定義
   ------------------------------------ */

/*アンケート領域*/
#enc{
    width: 65%;
    /*margin-top: 10px;*/
    margin: 0 auto;
}

/*ヘッダ領域*/
#enc_header{
    /*height: 20%;*/
    border-bottom: solid black;

    /*min-height:170px;*/
    /*height:auto !important;*/
}

/*ボディ領域*/
#enc_main{
    height: 70%;

    min-height:530px;
    height:auto !important;
    height:530px;
}

/*フッター領域*/
#enc_footer{
    border-top: solid black;
    height: 10%;

    min-height:50px;
    height:auto !important;
    height:50px;
}

/*アンケートタイトル領域*/
#heder_title{
    width: 100%;
}

/*アンケート詳細領域*/
#header_detail{
    width: 100%;
}

/* 料金表示エリア、掲載期間表示エリア */
#price_area, #display_term{
    margin-top:10px;
}

#css_code_area{
    text-align:center;
}

/* ------------------------------------
　　画面構成要素定義
   ------------------------------------ */
/*アンケートタイトル*/
#enc_title{
    width: 70%;
}

/*アンケート詳細*/
#enc_detail{
    width: 90%;
    line-height: 1.5;
}

/*アンケート後メッセージ*/
#enc_result_message{
    width: 90%;
    line-height: 1.5;
}

/* アンケート全体の設定 */
#enc_conf{
    margin-top: 10px;
    margin-bottom: 5px;
}

.enc_q_page{
    margin-top: 10px;
    margin-bottom: 5px;
    padding:10px;
}

#tutorial_button_area{
    margin-top: 5px;
}

/*フッターの左領域*/
#fotter_left{
    float: left;
}

/*フッターの右領域*/
#fotter_right{
    float: right;
}

/* ------------------------------------
　　クラス定義
   ------------------------------------ */

.table_cell{
    display: table-cell;
    vertical-align: middle;
}

.enc_content_title{
    margin:0;
    padding:0;
    font-size: 100%;
}

/* 個別のアンケート設定 */
.q_div{
    margin-top: 10px;
    padding: 2px;
}

.q_title{
    margin-left: 10px;
    width: 80%;
}

.q_q_type{
    margin-left: 10px;
}

.q_answer{
    width: 60%;
}

/* 回答可能文字数入力上限 */
.ans_input_max_length{
    width: 50px;
    text-align: center;
}

.q_item_add,.q_answer_div_else,.q_answer_div_char_length{
    margin-bottom: 10px;
}

/* 必須入力確認チェック */
.q_div_must{
    margin-top: 10px;
    margin-left: 5px;
}

/* 質問設定ボタン */
.q_div_button{
    margin-top: 10px;
}

/* 回答選択文字列上限値の条件 */
.q_answer_char_length_condition{
    width: 150px;
    margin-left: 10px;
}

/* 回答選択可能文字列上限値 */
.q_answer_div_char_length_input{
    width: 30px;
    text-align: center;
}

/* 各項目の削除ボタン */
.item_delete_btn {
    margin-left: 10px;
}

/* アンケート項目 */
.q_div{
    padding-top: 5px;
    padding-bottom: 3px;
    padding-right: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* アンケート項目用ラジオボタン、チェックボタン */
input[type="radio"].enc_q_answer, input[type="checkbox"].enc_q_answer {
    margin-bottom: 15px;
    margin-right: 5px;
}

/* アンケート質問エリア */
.q_div{
    border-bottom:1px solid #DCDCDC;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* アンケート追加ボタン */
.add_page_btn_div{
    margin-top: 5px;
    margin-bottom: 10px;
}

.q_div span{
    display:inline-block;
    margin-right:10px;
}
