/* ------------------------------------
　　レイアウト構成要素定義
   ------------------------------------ */

#enc_list{
    margin-top: 10px;
}

/* アンケートリストのヘッダ */
#enc_list table th{
    vertical-align: middle;
    text-align: center;
}

.form_id{
    width: 10%;
}

#enc_list table{
    word-break:break-all;
}

td.form_id{
    text-align: center;
}

.enc_title{
    width: 10%;
}

.enc_desc{
    width: 20%;
}

.page_count{
    width: 6%;
}

td.page_count{
    text-align: center;
}

.updated_at{
    width: 10%;
}

td.updated_at{
    text-align: center;
}

.plan{
    width: 7%;
}

td.plan{
    text-align: center;
}

.payment{
    width: 7%;
}

td.payment{
    text-align: center;
}

.status{
    width: 10%;
}

td.result_publish{
    text-align: center;
}

.result_publish{
    width: 7%;
}

td.status{
    text-align: center;
}

td.status ul li{
    text-align: left;
}

.other {
    width: 8%;
}

td.other{
    text-align: center;
}
