/* ------------------------------------
　　レイアウト構成要素定義
   ------------------------------------ */

body {
    background-color:#eee;
}

#enc_question {
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    background-color:#FFFFFF;
    border:1px solid #ccc;
}

/*アンケートタイトル*/
#enc_title_area {
    margin-top:20px;
    text-align:center;
}

#enc_title_area h2 {
  font-size:20px;
}

.enc_question_area {
    margin:10px 20px;
}

.enc_end_area {
    margin:30px 10px;
    text-align:center;
}

.enc_question_title {
    margin-top:20px;
    font-weight:bold;
    font-size:15px;
}

.enc_question_submit_area {
    margin-top:30px;
    margin-bottom:30px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
