/* 管理者向け画面 */
table#contracts_list th, table#contracts_list td, table#administrators_list th, table#administrators_list td {
    text-align:center;
    vertical-align:middle;
}

.e_form_id {
    width: 10%;
}

.e_contracts_name {
    width: 18%;
}

.e_term {
    width: 10%;
}

.e_plan {
    width: 10%;
}

.e_status{
    width: 7%;
}

.e_price{
    width: 8%;
}

.e_confirm_price{
    width: 10%;
}

.e_payment {
    width: 10%;
}

.e_payment_check {
    width: 10%;
}

.e_other {
    width: 10%;
}

.c_contract_id {
    width: 10%;
}

.c_contract_name {
    width: 25%;
}

.c_contract_mail {
    width: 15%;
}

.c_contract_count {
    width: 10%;
}

.c_regist_date {
    width: 20%;
}

.c_other {
    width: 20%;
}

.i_id {
    width: 10%;
}

.i_date {
    width: 15%;
}

.i_name {
    width: 15%;
}

.i_mail {
    width: 20%;
}

.i_content {
    width: 25%;
}

.i_ismember {
    width: 5%;
}

.i_status {
    width: 10%;
}

table#contracts_list td.i_content {
    text-align:left;
}

.n_id {
    width: 10%;
}

.n_date {
    width: 15%;
}

.n_subject {
    width: 25%;
}

.n_content {
    width: 50%;
}

table#contracts_list td.n_content {
    text-align:left;
}

.p_id {
    width: 10%;
}

.p_name {
    width: 15%;
}

.p_price {
    width: 10%;
}

.p_answer_count {
    width: 10%;
}

.p_term {
    width: 15%;
}

.p_output_count {
    width: 15%;
}

.p_save_term {
    width: 15%;
}

.p_other {
    width: 10%;
}

.op_id {
    width: 10%;
}

.op_name {
    width: 60%;
}

.op_price {
    width: 10%;
}

.p_other {
    width: 20%;
}

.status_chg_lbl,.plan_option{
    margin-top:10px;
}