@(inquiry: controllers.Inquiry.Inquiry)(implicit session: play.api.mvc.Session)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("アンケートフォームサービス 問い合わせ確認画面") {

	@helper.form(action = routes.Inquiry.submit, 'class -> "form-horizontal") {
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
<h1>アンケートフォームサービス 契約者登録画面</h1>
<p>問い合わせ内容を以下にご記入ください。</p>
</div>
<fieldset>
<legend>入力された内容</legend>
<div class="control-group">
<label class="control-label" for="subject">件名</label>
<div class="controls">
<input type="text" id="subject" name="subject" class="span6" readonly value="@inquiry.subject">
</div>
</div>
<div class="control-group">
<label class="control-label" for="mail">メールアドレス</label>
<div class="controls">
<input type="text" id="mail" name="mail" class="span3" readonly value="@inquiry.mail">
</div>
</div>
<div class="control-group">
<label class="control-label" for="name">名前</label>
<div class="controls">
<input type="text" id="name" name="name" class="span3" readonly value="@inquiry.name">
</div>
</div>
<div class="control-group">
<label class="control-label" for="content">問い合わせ内容</label>
<div class="controls">
<textarea name="content" rows="5" class="span8" readonly>@inquiry.content</textarea>
</div>
</div>
</fieldset>
<div class="actions">
<input type="submit" name="back" class="btn btn" value="戻る">
<input type="submit" name="send" class="btn btn-primary" value="送信">
</div>
	}
}
