@(inquiryForm: Form[controllers.Inquiry.Inquiry])(implicit session: play.api.mvc.Session)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("アンケートフォームサービス お問い合わせ") {
<div class="hero-unit">
<h1>アンケートフォームサービス お問い合わせ</h1>
<p>問い合わせ内容を以下にご記入ください。</p>
</div>
	@helper.form(action = routes.Inquiry.confirm, 'class -> "form-horizontal") {
<fieldset>
		@inputText(
			inquiryForm("subject"), '_label -> "件名",
			'class -> "span6", '_help -> "件名を入力してください。")
    @inputText(
			inquiryForm("mail"), '_label -> "メールアドレス",
	    'class -> "span3",'_help -> "メールアドレスを入力してください。")
		@inputText(
			inquiryForm("name"), '_label -> "名前",
			'class -> "span3",'_help -> "名前を入力してください。")
		@textarea(
			inquiryForm("content"), '_label -> "問い合わせ内容",
			'rows -> 5, 'class -> "span8", '_help -> "問い合わせ内容を入力してください。")
</fieldset>
<div class="control-group">
<div class="controls">
<button type="submit" class="btn btn-primary">確認</button>
</div>
</div>
	}
}
