@()(implicit session: play.api.mvc.Session)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("アンケートフォームサービス 問い合わせ完了画面") {

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>アンケートフォームサービス 問い合わせ完了画面</h1>
        <p>問い合わせ内容を以下にご記入ください。</p>
      </div>
      <div class="container">
        <p>
          問い合わせを受け付けました。<br />
        </p>
				<a href="@routes.Application.index()" class="btn">TOPへ</a>
      </div>

}
