@(message: String, path: String)(implicit session: play.api.mvc.Session)

@admin.main("アンケートフォームサービス")(path) {
<div class="alert alert-danger">
    <h4>エラーが発生しました</h4>
    <p>ご迷惑をおかけして申し訳ございません。</p>
    <p><strong>エラー詳細：</strong>[@message]</p>
</div>
}