@(message: String, logoff:Boolean = true)(implicit session: play.api.mvc.Session)

@main("アンケートフォームサービス", logoff) {
<div class="hero-unit">
<div style="float:right; margin-top:-50px; margin-right:50px;">
<iframe width="387" height="218" src="//www.youtube.com/embed/wdYMZIJDrbo?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
<h1>アンケートフォームサービス <span class="color-highlight">@commons.Constants.SERVICE_NAME</span></h1>
<p>
アンケートフォーム <span class="color-highlight">@commons.Constants.SERVICE_NAME</span>は誰でも手軽に利用できるアンケートサービスです。<br />
</p>
<p style="height: 50px;">
	@if(logoff){
<a href="@routes.Login.index()" class="btn btn-primary btn-large">ログイン</a>
<a href="@routes.Contract.regist()" class="btn btn-success btn-large">新規登録</a>
	}
</p>

</div>

<p>@message</p>

<!-- Example row of columns -->
<div class="row-fluid">
<div class="span4">
<h2>会員登録無料！</h2>
<p>
会員登録は無料です。<br />
メールアドレスさえあれば誰でも登録可能です。<br />
※現在α版の為、アンケートフォーム作成も無料です。
</p>
<p><a href="@routes.Manual.howToRegist()" class="btn btn-primary">会員登録の流れについて</a></p>
</div>
<div class="span4">
<h2>簡単フォーム作成！</h2>
<p>
アンケートフォームが簡単に作成出来ます。<br />
実際のアンケートページのイメージは<br />
<a href="http://risachi.van2k.com/encpreview/fb5bb4bed2a7057352504a247a1750e64d5ea3305i7vwhcuq60" target="_blank">こちら</a>よりご確認頂けます。
</p>
<p><a href="@routes.Inquiry.index()" class="btn btn-primary">お問い合わせはこちら</a></p>
</div>
<div class="span4">
<h2>件数無制限！</h2>
<p>
質問数、フォーム作成数、回答数すべて制限はありません（α版時点）
</p>
<p><a href="@routes.Inquiry.index()" class="btn btn-primary">お問い合わせはこちら</a></p>
</div>
</div>
<h2 id="info">お知らせ</h2>
<table class="table table-bordered table-striped">
<tr>
<th>日付</th>
<th>内容</th>
</tr>
<tr>
<td>2013/10/27</td>
<td>
りさっちα版を公開しました。<br />
りさっちα版は、現在正式なサービス名を募集しています。<br />
サービス名をご応募頂ける方は、<a href="http://risachi.van2k.com/encpreview/dcadceb338ac67e91cc7eaed0dfa3b43af9e1c995i7vwhcduwf" target="_blank">こちら</a>よりご応募ください。<br />
採用された方には、本サービスに関連した特典をプレゼント致します。
</td>
</tr>
</table>

}
