@(message: String, logoff:Boolean = true)(implicit session: play.api.mvc.Session)

@main("アンケートフォームサービス", logoff) {
<div class="row-fluid">
<div class="span10">
<h1 class="manual_title">アンケートフォームサービス <span class="color-highlight">@commons.Constants.SERVICE_NAME</span> 会員登録の流れ</h1>
<p>
アンケートフォームサービス <span class="color-highlight">@commons.Constants.SERVICE_NAME</span>を利用するには、アカウント登録が必要です。<br />
アカウント登録については以下の流れをご確認ください。
</p>
<hr />
<h2 class="manual_sub_title">新規登録画面からメールアドレスを登録</h2>
<img src="@routes.Assets.at("images/regist_1.png")" width="350px" alt="@commons.Constants.SERVICE_NAME 新規登録画面" class="thumbnail manual_img_left" />
<p class="manual_description">
<span class="color-highlight">@commons.Constants.SERVICE_NAME</span>の<a href="@routes.Contract.regist()">新規登録画面</a>にアクセスします。<br />
メールアドレスの入力および利用規約をご確認の上、登録処理を行ってください。
</p>
<div>
<a href="@routes.Contract.regist()" class="btn btn-success">アカウント新規登録</a>
</div>
<h2 class="manual_sub_title">確認用メールのURLにアクセス</h2>
<img src="@routes.Assets.at("images/regist_2.png")" width="350px" alt="@commons.Constants.SERVICE_NAME 確認メール画面" class="thumbnail manual_img_left" />
<p class="manual_description">
登録処理を行うと、入力したメールアドレス宛てにメールが届きます。<br />
メール本文に記載されているURLにアクセスしてください。
</p>
<h2 class="manual_sub_title">パスワード、お名前を入力</h2>
<img src="@routes.Assets.at("images/regist_3.png")" width="350px" alt="@commons.Constants.SERVICE_NAME プロフィール入力画面" class="thumbnail manual_img_left" />
<p class="manual_description">
パスワード、お名前を入力してアカウント登録が完了します。<br />
登録後、ログイン画面から登録したメールアドレス、パスワードで<a href="@routes.Login.index()">ログイン</a>してください。
</p>
<div>
<a href="@routes.Login.index()" class="btn btn-primary">ログイン</a>
</div>
</div>
</div>

}
