@(message: String, logoff:Boolean = true)(implicit session: play.api.mvc.Session)

@main("アンケートフォームサービス", logoff) {
<div class="row-fluid">
<div class="span10">
<h1 class="manual_title">アンケートフォームサービス <span class="color-highlight">@commons.Constants.SERVICE_NAME</span> 利用シーン</h1>
<p>
アンケートフォームサービス <span class="color-highlight">@commons.Constants.SERVICE_NAME</span>を利用することで、手軽にアンケートを作成することが出来ます。<br />
ここでは、<span class="color-highlight">@commons.Constants.SERVICE_NAME</span>を利用してアンケートを作成する流れを説明します。
</p>
<hr />
</div>
</div>

}
