/* ------------------------------------
　　レイアウト構成要素定義
   ------------------------------------ */

body {
    background-color:#eee;
}

#enc_result {
    margin-top:20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    background-color:#FFFFFF;
    border:1px solid #ccc;
}

#enc_result_title_area {
    text-align:center;
}

#enc_result_title_area h1, #enc_result_search_condition h2 {
    font-size:20px;
}

#enc_result_search_condition {
    margin:10px 20px;
}

#enc_result_count {
    margin:10px 20px;
}

#enc_result_count h4 {
    font-weight:normal;
    font-size:14px;
    line-height:30px;
}

#finished_count {
    font-size:200%;
}

#unfinished_count {
    font-size:200%;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
