@(contracts: models.contract.Contracts)(implicit session: play.api.mvc.Session)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("アンケートフォームサービス 契約者登録確認画面") {

    @helper.form(action = routes.Contract.interimRegist) {
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>アンケートフォームサービス 契約者登録確認画面</h1>
      </div>
        <fieldset>
          <legend>以下の内容で登録します。よろしいですか？</legend>
          <dl>
          <dt>メールアドレス</dt>
          <dd>
          @contracts.mail
          </dd>
          </dl>
        </fieldset>
        <input type="hidden" value="@contracts.mail" name="mail" >
      <div class="actions">
          <a href="@Html(routes.Contract.backRegist(contracts.mail).toString)" class="btn">戻る</a>
          <input type="submit" class="btn btn-primary" value="送信">
          <input type="hidden" id="mail" name="mail" value="@contracts.mail">
      </div>
    }

}
