@(mail: String, message: String)(implicit session: play.api.mvc.Session)

@main("アンケートフォームサービス 契約者登録エラー画面") {

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>アンケートフォームサービス 契約者登録画面</h1>
    <p>アンケートフォームをご利用される方は、以下の項目を入力して下さい。</p>
</div>
<div class="container">
    <p>
        @message
    </p>
    <div class="actions">
        <a href="@Html(routes.Contract.backRegist(mail).toString)" class="btn">戻る</a>
    </div>
</div>

}
