@(errMsg:String = "")(implicit session: play.api.mvc.Session)

@import helper._

@main("アンケートフォームサービス パスワード再設定画面") {
    @helper.form(action = routes.Contract.forgotPassMailSubmit, 'class -> "form-horizontal") {
        <div class="hero-unit">
            <h1>アンケートフォームサービス パスワード再設定画面</h1>
            <p>
              パスワードを再設定します。
            </p>
        </div>
        @if(errMsg != ""){
        <div class="alert alert-danger">
            <p>@errMsg</p>
        </div>
        }
        <p>登録したメールアドレスを入力してください。</p>
        <div class="control-group">
            <label class="control-label" for="id">メールアドレス</label>
            <div class="controls">
                <fieldset>
                    <input type="text" name="mail" id="id" _label="メールアドレス">
                </fieldset>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-primary" value="送信">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a href="@routes.Login.index">ログイン画面へ</a>
            </div>
        </div>
    }
}
