@()(implicit session: play.api.mvc.Session)

@main("アンケートフォームサービス パスワード再設定画面") {

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>アンケートフォームサービス パスワード再設定画面</h1>
        <p>パスワードを再設定します。</p>
      </div>
      <div class="container">
        <p>
          メールを送信しました。ご確認ください。<br />
        </p>
        <a href="@routes.Login.index">ログイン画面へ</a>
      </div>

}
