@(newPassForm: Form[String], token: String)(implicit session: play.api.mvc.Session)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("アンケートフォームサービス パスワード再設定画面") {

    @helper.form(action = routes.Contract.forgotPassNewPassSubmit, 'class -> "form-horizontal") {
        <div class="hero-unit">
            <h1>アンケートフォームサービス パスワード再設定画面</h1>
            <p>パスワードを再設定します。</p>
        </div>
        <p>新しいパスワードを入力してください。</p>
        <fieldset>
            @inputPassword(newPassForm("pass.main"), '_label -> "パスワード", '_help -> "パスワードを入力してください。")
            @inputPassword(newPassForm("pass.confirm"), '_label -> "パスワード（確認）", '_error -> newPassForm.error("pass"))
        </fieldset>

        <div class="actions">
            <input type="submit" class="btn btn-primary" value="確認">
            <input type="hidden" id="token" name="token" value="@token">
        </div>
    }
}
