@(message: String)(implicit session: play.api.mvc.Session)

@main("アンケートフォームサービス パスワード再設定画面") {

<div class="hero-unit">
    <h1>アンケートフォームサービス パスワード再設定画面</h1>
    <p>パスワードを再設定します。</p>
</div>
<div class="container">
    <div class="alert alert-danger">
        <p>@message</p>
    </div>
    <div class="actions">
        <a href="@routes.Login.index">ログイン画面へ</a>
    </div>
</div>

}
