@()(implicit session: play.api.mvc.Session)

@main("アンケートフォームサービス 契約者登録完了画面") {

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>アンケートフォームサービス 契約者登録画面</h1>
        <p>アンケートフォームをご利用される方は、以下の項目を入力して下さい。</p>
      </div>
      <div class="container">
        <p>
          ご入力頂いたメールアドレスに確認のメールを送信しました。<br />
          メールをご確認の上、登録手続きを行ってください。
        </p>
      </div>

}
