@(password: String)(implicit session: play.api.mvc.Session)

@main("アンケートフォームサービス 契約者パスワード画面") {

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>アンケートフォームサービス 契約者パスワード画面</h1>
</div>
<div class="container">
    <p>あなたの新しいパスワードは以下の通りです。</p>
    <p>@password</p>
    <div class="actions">
        <a href="@routes.Login.index" class="btn">ログイン画面へ</a>
    </div>
</div>

}
