@(profileForm: Form[models.contract.Contracts], token: String)(implicit session: play.api.mvc.Session)

@import helper._

@main("アンケートフォームサービス 契約者登録画面") {

    @helper.form(action = routes.Contract.profileConfirm, 'class -> "form-horizontal") {

      <div class="hero-unit">
        <h1>アンケートフォームサービス 契約者登録画面</h1>
        <p>アンケートフォームをご利用される方は、以下の項目を入力して下さい。</p>
      </div>
        <fieldset>
          <legend>必要事項を入力して下さい。</legend>
            @inputText(
                profileForm("mail"), '_label -> "メールアドレス", '_help -> "仮登録時に入力したメールアドレスです。",
                'readonly -> "readonly"
            )
            @inputText(profileForm("name"), '_label -> "お名前", '_help -> "お名前を入力してください。（64文字以下）", '_error -> profileForm.globalError)
            @inputPassword(profileForm("pass.main"), '_label -> "パスワード", '_help -> "パスワードを入力してください。（6文字以上64文字以下）")
            @inputPassword(profileForm("pass.confirm"), '_label -> "パスワード（確認）", '_error -> profileForm.error("pass"))
        </fieldset>

        <div class="actions">
            <input type="submit" class="btn btn-primary" value="確認">
            <input type="hidden" id="token" name="token" value="@token">
        </div>
    }
}
