@(contracts: models.contract.Contracts, token: String)(implicit session: play.api.mvc.Session)

@main("アンケートフォームサービス 契約者登録確認画面") {

    @helper.form(action = routes.Contract.profileSubmit, 'class -> "form-horizontal") {

      <div class="hero-unit">
        <h1>アンケートフォームサービス 契約者登録画面</h1>
        <p>アンケートフォームをご利用される方は、以下の項目を入力して下さい。</p>
      </div>
        <fieldset>
          <legend>入力された内容</legend>
          <dl>
            <dt>メールアドレス</dt>
            <dd>@contracts.mail</dd>
          </dl>
          <dl>
            <dt>お名前</dt>
            <dd>@contracts.name</dd>
          </dl>
          <dl>
            <dt>パスワード</dt>
            <dd>表示されません</dd>
          </dl>
        </fieldset>
      <div class="actions">
          <a href="@Html(routes.Contract.backProfileRegist(contracts.mail, contracts.name, token).toString)" class="btn">戻る</a>
          <input type="submit" class="btn btn-primary" value="送信">
          <input type="hidden" id="token" name="token" value="@token">
          <input type="hidden" id="name" name="name" value="@contracts.name">
      </div>
    }
}
