@(registForm: Form[models.contract.Contracts])(implicit session: play.api.mvc.Session)

@import scala.io.Source
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("アンケートフォームサービス 契約者登録画面") {

    @helper.form(action = routes.Contract.confirm, 'class -> "form-horizontal") {
      <div class="hero-unit">
        <h1>アンケートフォームサービス 契約者登録画面</h1>
        <p>アンケートフォームをご利用される方は、以下の項目を入力して下さい。</p>
      </div>
        <fieldset>
            @inputText(
                registForm("mail"), '_label -> "メールアドレス",
                '_help -> "メールアドレスを入力してください。",
                '_error -> registForm.globalError
            )
            @checkbox(registForm("agree"), '_label -> "",
                '_help -> "利用規約に同意する（確認）"
            )
        </fieldset>
        <p class=""><a data-toggle="modal" href="#agreement_modal" >利用規約を確認</a></p>

        <div class="actions">
            <input type="submit" class="btn btn-primary" value="確認">
        </div>
    }

    <div class="modal hide fade" id="agreement_modal">
        <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>利用規約</h3>
        </div>
        <div class="modal-body">
        @views.html.contract.agreements()
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-dismiss="modal">閉じる</a>
        </div>
    </div>


}
