@(itemId: Long, name: String, answers: List[models.enc.EncAnswerDetails])
<div>
<h4>@name</h4>
<h5>回答者：<a href="#" onClick="answerPopup(@itemId)"> @answers.filter(x => x.answerValue.length > 0).length</a></h5>
<h5>未回答者：@answers.filter(x => x.answerValue.length == 0).length</h5>
</div>
