@(id:String, name:String, totals: List[models.enc.EncAnalyze])
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['y', '件数'],
@for(total <- totals){
     	['@total.name',@total.total],
}
    ]);

    var options = {
      title: '@name'

    };

    var chart = new google.visualization.BarChart(document.getElementById('barchart_@id'));
    chart.draw(data, options);
  }
</script>
<div id="barchart_@id"></div>
