@(id:String, name:String, totals: List[models.enc.EncAnalyze])
<script type="text/javascript">
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages' : [ 'piechart','table' ]});

  // Set a callback to run when the Google Visualization API is loaded.
  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function initialize_@{id}() {
    // （４）チャートを表示するデータを用意
    var data = new google.visualization.DataTable();

    data.addColumn('string', '項目名');
    data.addColumn('number', '件数');
    data.addRows(@totals.length);
    @for(idx <- 0 to totals.length - 1){
      data.setCell(@idx, 0, '@totals(idx).name');
    }
    @for(idx <- 0 to totals.length - 1){
      data.setCell(@idx, 1, @totals(idx).total.toString);
    }
    var piechart = new google.visualization.PieChart(document.getElementById('piechart_@id'));
    piechart.draw(data);

    var table = new google.visualization.Table(document.getElementById('table_@id'));
    table.draw(data);

    google.visualization.events.addListener(piechart, 'select', function() {
         table.setSelection(piechart.getSelection());
    });

    google.visualization.events.addListener(table, 'select', function() {
         piechart.setSelection(table.getSelection());
    });
 }
 google.setOnLoadCallback(initialize_@{id});
</script>
<div>
<h4>@name</h4>
<div id="piechart_@id" style="width:300px; height:200px"></div>
<div id="table_@id" class="span9"></div>
</div>
