@(name: String, answers: List[models.enc.EncAnalyze])
<div>
<h4>@name</h4>
<table class="table table-bordered table-striped table-condensed">
@for(answer <-answers){
<tr>
<td>@answer.value</td>
</tr>
}
</table>
</div>
