@(encform: models.enc.EncForms, items: List[models.enc.EncFormItems], mitems:List[models.enc.EncMFormItems], searchForm: Form[SearchItem], finishedCount:Int, unfinishedCount:Int)(implicit request: play.api.mvc.Request[Any])
@import models.enc._

@main(encform, items, mitems, searchForm, finishedCount, unfinishedCount){
<h4>投稿者数:@EncAnalyze.getEncEndCount(encform.formId, searchForm.get.formItemValueId, searchForm.get.andOr, searchForm.get.ispreview)人</h4>
<h4>未投稿者数:@EncAnalyze.getEncPartwayCount(encform.formId, searchForm.get.formItemValueId, searchForm.get.andOr, searchForm.get.ispreview)人</h4>
<div class="span6">@e_barchart("1", "投稿までの時間統計(5分毎)", EncAnalyze.aggAnsMinuteByFormid(encform.formId,searchForm.get.formItemValueId, 5, searchForm.get.andOr, searchForm.get.ispreview))</div>
<div class="span6">@e_barchart("2", "投稿月統計", EncAnalyze.aggAnsDateByFormid(encform.formId,searchForm.get.formItemValueId, "YYYY/MM", searchForm.get.andOr, searchForm.get.ispreview))</div>
<div class="span6">@e_barchart("3", "投稿日統計", EncAnalyze.aggAnsDateByFormid(encform.formId,searchForm.get.formItemValueId, "YYYY/MM/DD(DY)", searchForm.get.andOr, searchForm.get.ispreview))</div>
<div class="span6">@e_barchart("4", "投稿週統計", EncAnalyze.aggAnsDateByFormid(encform.formId,searchForm.get.formItemValueId, "D", searchForm.get.andOr, searchForm.get.ispreview).map{x => EncAnalyze("日月火水木金土".charAt(x.name.toInt - 1).toString, x.total, "")}.toList)</div>
<div class="span6">@e_barchart("5", "投稿時間帯統計", EncAnalyze.aggAnsHourByFormid(encform.formId,searchForm.get.formItemValueId, searchForm.get.andOr, searchForm.get.ispreview))</div>
}