@(encform: models.enc.EncForms, items: List[models.enc.EncFormItems], mitems:List[models.enc.EncMFormItems], searchForm: Form[SearchItem], finishedCount:Int, unfinishedCount:Int)(implicit request: play.api.mvc.Request[Any])
@import models.enc._

@main(encform, items, mitems, searchForm, finishedCount, unfinishedCount){
<div>
<p>アンケート結果をCSVで出力します。以下のCSVデータ出力ボタンをクリックしてください。</p>
<form method="post" action="/report/csvoutput">
<input type="hidden" name="formId" value="@encform.formId">
<input type="hidden" name="ispreview" value='@searchForm.get.ispreview'>
<input type="submit" class="btn btn-primary" value="CSVデータ出力">
</form>
</div>
}