@(elements: helper.FieldElements)

@**************************************************
* Generate input according twitter bootsrap rules *
**************************************************@

<div class="control-group @if(elements.hasErrors) {error}">
    <label class="control-label" for="@elements.id">@elements.label</label>
    <div class="controls">
        @elements.input
        <span class="help-block">@elements.infos.mkString(", ")</span>
        <span class="errors">@elements.errors.mkString(", ")</span>
    </div>
</div>