/* ------------------------------------
　　レイアウト構成要素定義
   ------------------------------------ */
/*ヘッダ領域*/
#header{

}

/*ボディ領域*/
#main{

}

/*フッター領域*/
#footer{

}

/*アンケートフォーム削除確認*/
.confirm_check{
    margin-top: 10px;
    margin-bottom: 20px;
}

/*マニュアルページタイトル*/
.manual_title{
    font-size:150%;
}

.manual_sub_title{
    font-size:130%;
    clear:both;
}

.manual_img_left{
    float:left;
    margin-right:10px;
}

.manual_img_right{
    float:right;
    margin-left:10px;
}

.manual_description{
    margin-top:70px;
}

.manual_enc_q_type{
    width:350px;
    margin:5px auto;
}

.manual_enq_q_img_capture{
    text-align:center;
    margin-bottom:10px;
}

#plan_select_matrix tr td:not(:first-child), #plan_select_matrix tr th:not(:first-child), #option_select_matrix tr td:not(:first-child), #option_select_matrix tr th:not(:first-child){
    text-align:center;
}

#totalcharge{
    font-size:200%;
}

.alpha_campain{
    color:#FF0000;
}
