/*!
 * user.css
 *
 * Copyright 2012 van2k LLC
 *
 */

body {
  padding-top: 60px;
  padding-bottom: 40px;
}


.hero-unit h1 {
  font-size: 150%;
}

.hero-unit p {
  font-size: 90%;
}

.menu_link {
  margin-top:10px;
}

.span4 h2, h2#info {
  font-size: 125%;
}

.color-highlight {
  color:#DC143C;
}

pre#agreements {
    background-color: #FFFFFF;
    border: 0px;
}

.error {
    color:#FF0000;
}
