@(item: models.enc.EncFormItems, values: List[models.enc.EncFormItemValues], answers: List[models.enc.EncAnswerDetails], errormsg: Map[String, String])
<div class="controls">
<select size="1" name="@item.itemId" onchange="sendAnswer('@item.itemId');">
	<option value="">▽選択してください</option>
@for(value <- values){
	<option value="@value.itemId"  @{if(answers.count(x => x.formItemValueId == value.itemId) > 0){"selected"}}>@value.formValue</option>
}
</select>
</div>
@if(errormsg.count(x => x._1 == item.itemId.toString) == 1){
<div class="alert alert-error">
  <strong>@errormsg(item.itemId.toString)</strong>
</div>
}
