@(item: models.enc.EncFormItems, values: List[models.enc.EncFormItemValues], answers: List[models.enc.EncAnswerDetails], errormsg: Map[String, String])
<div class=controls>
@for(value <- values){
  <label class="radio">
	<input type="radio" name="@item.itemId" onchange="sendAnswer('@item.itemId');" value="@value.itemId" @{if(answers.count(x => x.formItemValueId == value.itemId) > 0){"checked"}}>@value.formValue
  </label>
}
</div>
@if(errormsg.count(x => x._1 == item.itemId.toString) == 1){
<div class="alert alert-error">
  <strong>@errormsg(item.itemId.toString)</strong>
</div>
}
