@(item: models.enc.EncFormItems, values: List[models.enc.EncFormItemValues], answers: List[models.enc.EncAnswerDetails], errormsg: Map[String, String])
@for(value <- values){
<div class="controls">
	<label>@value.formValue</label>
	<input type='text' name="@item.itemId-@value.itemId" onchange="sendAnswer(@item.itemId);" value="@{if(answers.count(x => x.formItemValueId == value.itemId) > 0){answers.filter(x => x.formItemValueId == value.itemId)(0).answerValue}}"/>
</div>
}
@if(errormsg.count(x => x._1 == item.itemId.toString) == 1){
<div class="alert alert-error">
  <strong>@errormsg(item.itemId.toString)</strong>
</div>
}
