@(form: models.enc.EncForms, ispreview:Boolean, mode:String)

@if(mode == "0" || mode == "1"){
<div id="enc_title_area">
<h2>@{if(form.formName == ""){"アンケート"}else{form.formName}}@if(ispreview){<span class="label label-info">プレビューモード</span>}</h2>
<p class="description">@for(desc <- form.formDesc.split("\n")) {@desc<br />}</p>
</div>
}
<div class="enc_end_area">
<h4>@if(form.resultMessage == ""){ご回答頂きどうもありがとうございました。}else{@for(desc <- form.resultMessage.split("\n")) {@desc<br />}}</h4>
@if(ispreview){
<form method="get" action='/report/1/@form.urlKey/@if(ispreview){1}else{0}'>
<input type="submit" class="btn btn-primary" value="アンケート結果画面を見る">
</form>
}
</div>
