@(answerId: Long, pageNo: Long, form: models.enc.EncForms, items: List[models.enc.EncFormItems], values: List[models.enc.EncFormItemValues], mitems:List[models.enc.EncMFormItems], answers:List[models.enc.EncAnswerDetails], errormsg:Map[String, String], ispreview:Boolean, mode:String, mCss:List[models.enc.EncMCss] = Nil)(implicit request: play.api.mvc.Request[Any])

@if(ispreview){
    <script>
	@if(!play.api.Play.current.configuration.getString("application.version").getOrElse("0.0").contains("α")) {
      function css_setting() {
        if (confirm("CSSの設定を変更しますか？")) {
          document.css_form.submit();
        }
      }

      $(function() {
        // 背景設定ダイアログ表示時の処理
        $('#css_modal').on('show', function() {
          // 現在設定されているCSSを選択状態とする
          $("input[name='css_design'][value='@form.cssId']").attr({ checked: "checked" });
        });
      });
	}

    </script>
	@if(!play.api.Play.current.configuration.getString("application.version").getOrElse("0.0").contains("α")) {
    <div class="modal hide fade" id="css_modal">
        <form name="css_form" action="/conf/updateCss" method="POST">
        <input type="hidden" name="form_id" value="@form.formId" />
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>背景設定</h3>
        </div>
        <div class="modal-body">
            <table>
		@for(i <- 0 to mCss.length - 1) {
	    @if((i + 1) % 3 == 0) {
                <tr>
      }
      @if(i == 0) {
                    <td>
                        <label class="radio" for="css0"><input type="radio" id="css0" name="css_design" value="0" /><img src="@routes.Assets.at("images/no_select.gif")" class="img-rounded" /></label>
                    </td>
      }
                    <td>
                        <label class="radio" for="css@(mCss(i).id)"><input type="radio" id="css@(mCss(i).id)" name="css_design" value="@(mCss(i).id)" /><img src="@routes.Assets.at(mCss(i).dispImageUrl)" class="img-rounded" /></label>
                    </td>
      @if(i == (mCss.length - 1) || (i + 2) % 3 == 0) {
                </tr>
      }
    }
            </table>
            <label class="radio" for="css_org"><input type="radio" id="css_org" name="css_design" value="99" />独自CSSを利用する</label>
            <div class="well" id="css_code_area">
                <textarea rows="20" name="css_code" class="span4"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <input type="button" onclick="css_setting()" class="btn btn-primary" data-dismiss="modal" value="設定" >
        </div>
        </form>
    </div>
	}
	@if(!play.api.Play.current.configuration.getString("application.version").getOrElse("0.0").contains("α")) {
      <div>
        <a class="btn btn-primary" data-toggle="modal" href="#css_modal" >背景設定</a>
      </div>
	}
}
@if(mode == "0" || mode =="1"){
<div id="enc_title_area">
<h2>@{form.formName}@if(ispreview){<span class="label label-info">プレビューモード</span>}</h2>
<p class="description">@for(desc <- form.formDesc.split("\n")) {@desc<br />}</p>
</div>
}
<form method="POST" action="/_enc/post">
@for(item <- items){
<div class="enc_question_area">
<div class="enc_question_title">@{item.name}@if(item.required.equals("1")){*}</div>
<div class="enc_question_answers offset1">
@for(mitem <- mitems.filter{(x) => x.itemId == item.mItemId}){
  @e_controller(item, values.filter{(x) => x.formItemId == item.itemId}, mitem.kind, answers.filter{(x) => x.formItemId == item.itemId}, errormsg)
}
</div>
</div>
}

<div class="enc_question_submit_area offset1 span11">
@if(pageNo > 1){
<input type="submit" name="back" class="btn" value="前へ">
}
@if(pageNo < form.totalPageCount){
<input type="submit" name="next" class="btn" value="次へ">
}
@if(pageNo == form.totalPageCount){
<input type="submit" name="send" class="btn btn-primary" value="送信">
}
</div>
<input type="hidden" name="answerId" id="answerId" value="@answerId">
<input type="hidden" name="formId" id="formId" value="@form.formId">
<input type="hidden" name="pageNo" id="pageNo" value="@pageNo">
<input type="hidden" name="ispreview" id="ispreview" value="@ispreview">
<input type="hidden" name="mode" id="mode" value="@mode">
</form>
